In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print(__version__) # requires version >= 1.9.0

4.5.4

In [3]:
import cufflinks as cf
init_notebook_mode(connected=True)
# For offline use
cf.go_offline()
from pandas_datareader import data, wb
import datetime

In [3]:
df=pd.read_excel('//home/jorgemsr123/Desktop/Pavita/JMSR_FICHA_LAB (1).xlsx', header=[0,1,2,3], sheet_name='REGISTRO LAB U CALDAS')

In [4]:
df.head(10)

  PROYECTO DE RESCATE Y MONITOREO ARQUEOLÓGICO AEROCAFÉ, PALESTINA  \
                                                             Sitio
                                                Unnamed: 0_level_2
                                                Unnamed: 0_level_3
0                                   01 Palma Plana
1                                     02 Palma Torre
2                                     02 Palma Torre
3                                      09 El Refugio
4                                      09 El Refugio
5                                      09 El Refugio
6                                      09 El Refugio
7                                      09 El Refugio
8                                      09 El Refugio
9                                      11 El Mirador

                                                                              \
                        Rasgo            Periodo Análisis dental (N° Fichas)
           Unnamed: 1_level_2 Unnamed: 2_level_2                 Inventario
           Unnamed: 1_level_3 Unnamed: 2_level_3                        Max.
0             Rasgo L-20 (II)                4.1                           9
1                B-5, Tumba 2                4.2                          11
2         Rasgo 05, cuadro 29                4.2                           6
3       Salv. 1 Tumba 2 Ind 1                4.2                          13
4      Salv. 44 Tumba 2 Ind 1                4.1                           1
5      Salv. 44 Tumba 2 Ind 2                4.1                           7
6  Salv. 43 Tumba 1 Ind H (2)                4.2                           7
7  Salv. 43 Tumba 1 Ind M (1)                4.2                           4
8      Salv. 45 Tumba 3 Ind 1                4.2                           5
9                  Rasgo F-18                4.1                           4

                                                                           \

          Estimación sexo Estimación edad (lovejoy, 1985) Desgaste dental
  Man. Unnamed: 5_level_3              Unnamed: 6_level_3    Molnar, 1971
0    1                  M                           24-30               ü
1    4                  F                           20-24               ü
2    2                  F                           16-20               ü
3   16                  F                           24-30               ü
4    2                  F                           35-40               ü
5    6                  F                           40-50               ü
6    1                  F                           30-35               ü
7   13                  M                           30-35               ü
8   11                  M                           35-40               ü
9    8                  F                           24-30               ü

                                                                    \


  Smith, 1984 Can-Ins Smith, 1984 Prem Smith, 1984 Mol Scott, 1974
0                   ü                ü               ü           ü
1                   ü                ü               ü           ü
2                   ü                ü               ü           ü
3                   ü                ü               ü           ü
4                   ü                ü               ü           ü
5                   ü                ü               ü           ü
6                   ü                ü               ü           ü
7                   ü                ü               ü           ü
8                   ü                ü               ü           ü
9                   ü                ü               ü           ü

                                                                              \

                   Patologías
   Caries Pezo & Eggers, 2010 Cálculo Brothwell, 1981 abscesos- Lukacs, 1989
0                           ü                       ü                      N
1                           ü                       ü                      N
2                           ü                       ü                      N
3                           ü                       ü                      N
4                           ü                       ü                      N
5                           ü                       ü                      ü
6                           ü                       ü                      ü
7                           ü                       ü                      ü
8                           ü                       ü                      N
9                           ü                       ü                      N

                                                               \

            Fitolitos      Microdesgaste     Medidas dentales
  Unnamed: 15_level_3 Unnamed: 16_level_3 Unnamed: 17_level_3
0                   ü                 NaN                   ü
1                   ü                 NaN                   ü
2                   N                 NaN                   ü
3                   N                 NaN                   ü
4                   ü                 NaN                   ü
5                   ü                 NaN                   ü
6                   N                 NaN                   ü
7                   N                 NaN                   ü
8                   N                 NaN                   ü
9                   N                 NaN                   ü


                      Digitalización información
                Fotos        Unnamed: 19_level_2
  Unnamed: 18_level_3        Unnamed: 19_level_3
0                   ü                          ü
1                   ü                          ü
2                   ü                          ü
3                   ü                          ü
4                   ü                          ü
5                   ü                          ü
6                   ü                          ü
7                   ü                          ü
8                   ü                          ü
9                   ü                          ü

In [5]:
df['PROYECTO DE RESCATE Y MONITOREO ARQUEOLÓGICO AEROCAFÉ, PALESTINA']['Sitio']['Unnamed: 0_level_2']['Unnamed: 0_level_3']

0     01 Palma Plana
1       02 Palma Torre
2       02 Palma Torre
3        09 El Refugio
4        09 El Refugio
            ...
58             El Edén
59             El Edén
60             El Edén
61             El Edén
62             El Edén
Name: Unnamed: 0_level_3, Length: 63, dtype: object

In [6]:
df_caries=pd.read_excel('//home/jorgemsr123/Desktop/Pavita/JMSR_FICHA_LAB (1).xlsx', header=[0,1,2,3], sheet_name='CARIES')

In [11]:
df_caries.head(10)

               Sitio              Corte                       Rasgo  \
  Unnamed: 0_level_1 Unnamed: 1_level_1          Unnamed: 2_level_1
  Unnamed: 0_level_2 Unnamed: 1_level_2          Unnamed: 2_level_2
  Unnamed: 0_level_3 Unnamed: 1_level_3          Unnamed: 2_level_3
0   01 Palma Plana                  NaN             Rasgo L-20 (II)
1     02 Palma Torre                NaN                 B-5 Tumba 2
2     02 Palma Torre                C10          Rasgo 05 cuadro 29
3      09 El Refugio                NaN       Salv. 1 Tumba 2 Ind 1
4      09 El Refugio                NaN      Salv. 44 Tumba 2 Ind 1
5      09 El Refugio                NaN      Salv. 44 Tumba 2 Ind 2
6      09 El Refugio                NaN  Salv. 43 Tumba 1 Ind H (2)
7      09 El Refugio                NaN  Salv. 43 Tumba 1 Ind M (1)
8      09 El Refugio                NaN      Salv. 45 Tumba 3 Ind 1
9      11 El Mirador                NaN                  Rasgo F-18

             Periodo               Sexo               Edad         N° dientes  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1
  Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
  Unnamed: 3_level_3 Unnamed: 4_level_3 Unnamed: 5_level_3               max.
0                4.1                  M              24-30                  9
1                4.2                  F              20-24                 11
2                4.2                  F              16-20                  6
3                4.2                  F              24-30                 13
4                4.1                  F              35-40                  1
5                4.1                  F              40-50                  7
6                4.2                  F              30-35                  7
7                4.2                  M              30-35                  4
8                4.2                  M              35-40                  5
9                4.1                  F              24-30                  4

                     Maxilar       ... Mandíbula                           \
  Unnamed: 7_level_1 Derecho       ... Izquierdo
  Unnamed: 7_level_2      18       ...        34        35        36
                Man.       P    L  ...         P    L    P    L    P    L
0                  1     NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN
1                  4     NaN  NaN  ...       NaN  NaN  NaN  NaN  1.0  1.0
2                  2     1.0  1.0  ...       NaN  NaN  NaN  NaN  NaN  NaN
3                 16     1.0  1.0  ...       0.0  0.0  0.0  0.0  1.0  2.0
4                  2     NaN  NaN  ...       0.0  0.0  NaN  NaN  NaN  NaN
5                  6     NaN  NaN  ...       0.0  0.0  5.0  9.0  NaN  NaN
6                  1     NaN  NaN  ...       NaN  NaN  NaN  NaN  NaN  NaN
7                 13     NaN  NaN  ...       4.0  6.0  0.0  0.0  5.0  9.0
8                 11     NaN  NaN  ...       0.0  0.0  0.0  0.0  1.0  1.0
9                  8     1.0  1.0  ...       0.0  0.0  0.0  0.0  2.0  1.0



    37        38
     P    L    P    L
0  NaN  NaN  NaN  NaN
1  0.0    0  NaN  NaN
2  NaN  NaN  0.0  0.0
3  1.0    1  3.0  1.0
4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN
7  NaN  NaN  2.0  6.0
8  NaN  NaN  1.0  1.0
9  1.0    1  NaN  NaN

[10 rows x 72 columns]

In [17]:
pd.set_option('display.max_columns', None)

In [8]:
sum_maxilar_derecho= df_caries['Maxilar']['Derecho']

In [9]:
sum_maxilar_derecho['Sum']=sum_maxilar_derecho.sum(axis=1)

In [10]:
sum_maxilar_derecho

     18        17        16        15        14        13        12        11  \
      P    L    P    L    P    L    P    L    P    L    P    L    P    L    P
0   NaN  NaN  NaN  NaN  2.0  1.0  0.0  0.0  1.0  4.0  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  1.0  1.0  NaN  NaN  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN  0.0
2   1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  NaN  NaN  0.0  0.0  NaN  NaN  NaN
3   1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
58  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
59  2.0  1.0  1.0  1.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN  NaN
60  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  NaN  NaN  NaN  NaN  NaN  NaN  2.0  1.0  0.0  7.0  0.0  7.0  0.0  7.0  0.0
62  NaN  NaN  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN  0.0  0.0  NaN

          Sum
      L
0   NaN   8.0
1   0.0   2.0
2   NaN   6.0
3   NaN   4.0
4   NaN   0.0
..  ...   ...
58  NaN   0.0
59  NaN   8.0
60  NaN   0.0
61  7.0  31.0
62  NaN   0.0

[63 rows x 17 columns]

In [11]:
sum_maxilar_derecho.sort_values(by='Sum', ascending=False).head(20)

     18        17        16        15        14        13        12        11  \
      P    L    P    L    P    L    P    L    P    L    P    L    P    L    P
6   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  3.0  8.0  3.0  8.0  3.0  8.0  3.0
29  NaN  NaN  1.0  6.0  3.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  6.0  5.0
53  0.0  0.0  1.0  1.0  0.0  0.0  1.0  1.0  NaN  NaN  5.0  9.0  5.0  9.0  NaN
61  NaN  NaN  NaN  NaN  NaN  NaN  2.0  1.0  0.0  7.0  0.0  7.0  0.0  7.0  0.0
27  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  4.0  8.0  2.0  6.0  NaN  NaN  2.0
26  1.0  1.0  4.0  6.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN  5.0
56  NaN  NaN  NaN  NaN  4.0  7.0  0.0  0.0  2.0  7.0  1.0  7.0  0.0  0.0  0.0
45  NaN  NaN  3.0  6.0  0.0  0.0  1.0  6.0  NaN  NaN  1.0  6.0  0.0  0.0  0.0
28  NaN  NaN  NaN  NaN  2.0  6.0  0.0  0.0  1.0  6.0  1.0  6.0  0.0  0.0  0.0
46  NaN  NaN  3.0  6.0  3.0  6.0  NaN  NaN  NaN  NaN  3.0  1.0  NaN  NaN  NaN
17  NaN  NaN  0.0  0.0  1.0  1.0  1.0  1.0  NaN  NaN  5.0  9.0  0.0  0.0  NaN
35  NaN  NaN  1.0  1.0  1.0  1.0  NaN  NaN  5.0  9.0  NaN  NaN  NaN  NaN  NaN
9   1.0  1.0  NaN  NaN  5.0  9.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
23  NaN  NaN  1.0  1.0  5.0  9.0  0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN  NaN
55  NaN  NaN  1.0  1.0  0.0  0.0  0.0  0.0  NaN  NaN  0.0  0.0  NaN  NaN  5.0
8   NaN  NaN  NaN  NaN  5.0  9.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
41  NaN  NaN  1.0  1.0  NaN  NaN  4.0  8.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
24  NaN  NaN  NaN  NaN  0.0  0.0  NaN  NaN  0.0  0.0  5.0  9.0  NaN  NaN  NaN
18  NaN  NaN  NaN  NaN  5.0  9.0  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
57  1.0  1.0  1.0  1.0  1.0  3.0  1.0  1.0  0.0  0.0  0.0  0.0  NaN  NaN  NaN

          Sum
      L
6   8.0  44.0
29  9.0  33.0
53  NaN  32.0
61  7.0  31.0
27  6.0  28.0
26  9.0  28.0
56  0.0  28.0
45  0.0  23.0
28  0.0  22.0
46  NaN  22.0
17  NaN  18.0
35  NaN  18.0
9   NaN  16.0
23  NaN  16.0
55  9.0  16.0
8   NaN  14.0
41  NaN  14.0
24  NaN  14.0
18  NaN  14.0
57  NaN  10.0

In [32]:
# read calculo spreed sheet

df_calculo=pd.read_excel('//home/jorgemsr123/Desktop/Pavita/Viviana_Datos_Tesis.xlsx', header=[0,1,2,3], sheet_name='CÁLCULO')

In [5]:
df_calculo

                Sitio              Corte                   Rasgo  \
   Unnamed: 0_level_1 Unnamed: 1_level_1      Unnamed: 2_level_1
   Unnamed: 0_level_2 Unnamed: 1_level_2      Unnamed: 2_level_2
   Unnamed: 0_level_3 Unnamed: 1_level_3      Unnamed: 2_level_3
0    01 Palma Plana                  NaN         Rasgo L-20 (II)
1      02 Palma Torre                NaN             B-5 Tumba 2
2      02 Palma Torre                C10      Rasgo 05 cuadro 29
3       09 El Refugio                NaN   Salv. 1 Tumba 2 Ind 1
4       09 El Refugio                NaN  Salv. 44 Tumba 2 Ind 1
..                ...                ...                     ...
58            El Edén                NaN         Rasgo 28, Ind 1
59            El Edén                NaN         Rasgo 28, Ind 2
60            El Edén                NaN         Rasgo 28, Ind 3
61            El Edén                NaN         Rasgo 29, Ind 1
62            El Edén                NaN         Rasgo 29, Ind 2

              Periodo               Sexo               Edad  \
   Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
   Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2
   Unnamed: 3_level_3 Unnamed: 4_level_3 Unnamed: 5_level_3
0                 4.1                  M              24-30
1                 4.2                  F              20-24
2                 4.2                  F              16-20
3                 4.2                  F              24-30
4                 4.1                  F              35-40
..                ...                ...                ...
58                4.0                  F              35-40
59                4.0                  F              24-30
60                4.0                  M                >50
61                4.0                  M              40-50
62                4.0                  F              35-40

           N° dientes                    Maxilar       ... Mandíbula       \
   Unnamed: 6_level_1 Unnamed: 7_level_1 Derecho       ... Izquierdo
   Unnamed: 6_level_2 Unnamed: 7_level_2      18       ...        34
              Maxilar          Mandíbula       G    S  ...         G    S
0                   9                  1     NaN  NaN  ...       NaN  NaN
1                  11                  4     NaN  NaN  ...       NaN  NaN
2                   6                  2     0.0    0  ...       NaN  NaN
3                  13                 16     0.0    0  ...       0.0    0
4                   1                  2     NaN  NaN  ...       2.0    L
..                ...                ...     ...  ...  ...       ...  ...
58                  2                  5     NaN  NaN  ...       0.0    0
59                 12                 15     1.0    V  ...       1.0    V
60                  0                  1     NaN  NaN  ...       NaN  NaN
61                 10                 14     NaN  NaN  ...       1.0    L
62                  7                 10     NaN  NaN  ...       1.0    L



     35        36        37        38
      G    S    G    S    G    S    G    S
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  0.0    0  0.0    0  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN  0.0    0
3   0.0    0  0.0    0  0.0    0  0.0    0
4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...  ...
58  0.0    0  NaN  NaN  NaN  NaN  NaN  NaN
59  1.0    V  1.0    V  1.0    V  1.0    V
60  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  1.0    L  9.0    9  1.0    L  NaN  NaN
62  1.0    L  1.0    V  NaN  NaN  NaN  NaN

[63 rows x 72 columns]

In [36]:
trial=df_calculo.replace('L',1000) 
trial=df_calculo.replace('V',100)

In [38]:
trial.head(5)

               Sitio              Corte                   Rasgo  \
  Unnamed: 0_level_1 Unnamed: 1_level_1      Unnamed: 2_level_1
  Unnamed: 0_level_2 Unnamed: 1_level_2      Unnamed: 2_level_2
  Unnamed: 0_level_3 Unnamed: 1_level_3      Unnamed: 2_level_3
0   01 Palma Plana                  NaN         Rasgo L-20 (II)
1     02 Palma Torre                NaN             B-5 Tumba 2
2     02 Palma Torre                C10      Rasgo 05 cuadro 29
3      09 El Refugio                NaN   Salv. 1 Tumba 2 Ind 1
4      09 El Refugio                NaN  Salv. 44 Tumba 2 Ind 1

             Periodo               Sexo               Edad         N° dientes  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1
  Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
  Unnamed: 3_level_3 Unnamed: 4_level_3 Unnamed: 5_level_3            Maxilar
0                4.1                  M              24-30                  9
1                4.2                  F              20-24                 11
2                4.2                  F              16-20                  6
3                4.2                  F              24-30                 13
4                4.1                  F              35-40                  1

                     Maxilar                                               \
  Unnamed: 7_level_1 Derecho
  Unnamed: 7_level_2      18        17        16          15           14
           Mandíbula       G    S    G    S    G      S    G       S    G
0                  1     NaN  NaN  NaN  NaN  2.0  100.0  0.0     0.0  0.0
1                  4     NaN  NaN  0.0  0.0  NaN    NaN  1.0  1000.0  0.0
2                  2     0.0  0.0  0.0  0.0  0.0    0.0  0.0     0.0  NaN
3                 16     0.0  0.0  0.0  0.0  0.0    0.0  0.0     0.0  0.0
4                  2     NaN  NaN  NaN  NaN  NaN    NaN  NaN     NaN  NaN

                                                                           \
                                   Izquierdo
         13       12       11             21       22        23        24
     S    G    S   G   S    G    S         G   S    G    S    G    S    G
0  0.0  NaN  NaN NaN NaN  NaN  NaN       NaN NaN  0.0  0.0  0.0  0.0  0.0
1  0.0  NaN  NaN NaN NaN  0.0  0.0       NaN NaN  0.0  0.0  0.0  0.0  1.0
2  NaN  0.0  0.0 NaN NaN  NaN  NaN       NaN NaN  NaN  NaN  0.0  0.0  NaN
3  0.0  0.0  0.0 NaN NaN  NaN  NaN       NaN NaN  0.0  0.0  0.0  0.0  0.0
4  NaN  NaN  NaN NaN NaN  NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN

                                                           Mandíbula       \
                                                            Derecho
            25        26           27           28                48
        S    G    S    G       S    G       S    G       S         G    S
0     0.0  0.0  0.0  0.0     0.0  0.0     0.0  0.0     0.0       NaN  NaN
1  1000.0  0.0  0.0  1.0  1000.0  1.0  1000.0  1.0  1000.0       NaN  NaN
2     NaN  NaN  NaN  NaN     NaN  NaN     NaN  NaN     NaN       0.0  0.0
3     0.0  0.0  0.0  1.0   100.0  0.0     0.0  0.0     0.0       0.0  0.0
4     NaN  NaN  NaN  9.0     9.0  NaN     NaN  NaN     NaN       NaN  NaN

                                                                            \

    47        46        45        44           43        42        41
     G    S    G    S    G    S    G       S    G    S    G    S    G    S
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  NaN  NaN  NaN  NaN  NaN  NaN  1.0  1000.0  NaN  NaN  NaN  NaN  NaN  NaN

                                                                            \
  Izquierdo
         31        32        33        34           35        36        37
          G    S    G    S    G    S    G       S    G    S    G    S    G
0       NaN  NaN  0.0  0.0  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN
1       NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  0.0  0.0  0.0
2       NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN
3       0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0
4       NaN  NaN  NaN  NaN  NaN  NaN  2.0  1000.0  NaN  NaN  NaN  NaN  NaN



         38
     S    G    S
0  NaN  NaN  NaN
1  0.0  NaN  NaN
2  NaN  0.0  0.0
3  0.0  0.0  0.0
4  NaN  NaN  NaN

In [39]:
trial['Maxilar']['Derecho']

     18          17          16          15           14          13         \
      G      S    G      S    G      S    G       S    G      S    G      S
0   NaN    NaN  NaN    NaN  2.0  100.0  0.0     0.0  0.0    0.0  NaN    NaN
1   NaN    NaN  0.0    0.0  NaN    NaN  1.0  1000.0  0.0    0.0  NaN    NaN
2   0.0    0.0  0.0    0.0  0.0    0.0  0.0     0.0  NaN    NaN  0.0    0.0
3   0.0    0.0  0.0    0.0  0.0    0.0  0.0     0.0  0.0    0.0  0.0    0.0
4   NaN    NaN  NaN    NaN  NaN    NaN  NaN     NaN  NaN    NaN  NaN    NaN
..  ...    ...  ...    ...  ...    ...  ...     ...  ...    ...  ...    ...
58  NaN    NaN  NaN    NaN  NaN    NaN  NaN     NaN  NaN    NaN  NaN    NaN
59  1.0  100.0  1.0  100.0  1.0  100.0  1.0   100.0  1.0  100.0  1.0  100.0
60  NaN    NaN  NaN    NaN  NaN    NaN  NaN     NaN  NaN    NaN  NaN    NaN
61  NaN    NaN  NaN    NaN  NaN    NaN  9.0     9.0  3.0  100.0  1.0  100.0
62  NaN    NaN  3.0  100.0  3.0  100.0  3.0   100.0  2.0  100.0  NaN    NaN

     12          11
      G      S    G      S
0   NaN    NaN  NaN    NaN
1   NaN    NaN  0.0    0.0
2   NaN    NaN  NaN    NaN
3   NaN    NaN  NaN    NaN
4   NaN    NaN  NaN    NaN
..  ...    ...  ...    ...
58  NaN    NaN  NaN    NaN
59  NaN    NaN  NaN    NaN
60  NaN    NaN  NaN    NaN
61  1.0  100.0  2.0  100.0
62  2.0  100.0  NaN    NaN

[63 rows x 16 columns]

In [41]:
trial['avg_max_der']=trial['Maxilar']['Derecho'].mean(axis=1)

In [44]:
trial['avg_max_izq']=trial['Maxilar']['Izquierdo'].mean(axis=1)

In [51]:
trial['avg_man_izq']=trial['Mandíbula']['Izquierdo'].mean(axis=1)

In [60]:
trial['avg_man_der']=trial['Mandíbula']['Derecho '].mean(axis=1)

In [63]:
trial['count_max_der']=trial['Maxilar']['Derecho'].count(axis=1)

In [65]:
trial['count_max_izq']=trial['Maxilar']['Izquierdo'].count(axis=1)

In [66]:
trial['count_man_izq']=trial['Mandíbula']['Izquierdo'].count(axis=1)

In [67]:
trial['count_man_der']=trial['Mandíbula']['Derecho '].count(axis=1)

In [68]:
trial.head(5)

               Sitio              Corte                   Rasgo  \
  Unnamed: 0_level_1 Unnamed: 1_level_1      Unnamed: 2_level_1
  Unnamed: 0_level_2 Unnamed: 1_level_2      Unnamed: 2_level_2
  Unnamed: 0_level_3 Unnamed: 1_level_3      Unnamed: 2_level_3
0   01 Palma Plana                  NaN         Rasgo L-20 (II)
1     02 Palma Torre                NaN             B-5 Tumba 2
2     02 Palma Torre                C10      Rasgo 05 cuadro 29
3      09 El Refugio                NaN   Salv. 1 Tumba 2 Ind 1
4      09 El Refugio                NaN  Salv. 44 Tumba 2 Ind 1

             Periodo               Sexo               Edad         N° dientes  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1
  Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
  Unnamed: 3_level_3 Unnamed: 4_level_3 Unnamed: 5_level_3            Maxilar
0                4.1                  M              24-30                  9
1                4.2                  F              20-24                 11
2                4.2                  F              16-20                  6
3                4.2                  F              24-30                 13
4                4.1                  F              35-40                  1

                     Maxilar                                               \
  Unnamed: 7_level_1 Derecho
  Unnamed: 7_level_2      18        17        16          15           14
           Mandíbula       G    S    G    S    G      S    G       S    G
0                  1     NaN  NaN  NaN  NaN  2.0  100.0  0.0     0.0  0.0
1                  4     NaN  NaN  0.0  0.0  NaN    NaN  1.0  1000.0  0.0
2                  2     0.0  0.0  0.0  0.0  0.0    0.0  0.0     0.0  NaN
3                 16     0.0  0.0  0.0  0.0  0.0    0.0  0.0     0.0  0.0
4                  2     NaN  NaN  NaN  NaN  NaN    NaN  NaN     NaN  NaN

                                                                           \
                                   Izquierdo
         13       12       11             21       22        23        24
     S    G    S   G   S    G    S         G   S    G    S    G    S    G
0  0.0  NaN  NaN NaN NaN  NaN  NaN       NaN NaN  0.0  0.0  0.0  0.0  0.0
1  0.0  NaN  NaN NaN NaN  0.0  0.0       NaN NaN  0.0  0.0  0.0  0.0  1.0
2  NaN  0.0  0.0 NaN NaN  NaN  NaN       NaN NaN  NaN  NaN  0.0  0.0  NaN
3  0.0  0.0  0.0 NaN NaN  NaN  NaN       NaN NaN  0.0  0.0  0.0  0.0  0.0
4  NaN  NaN  NaN NaN NaN  NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN

                                                           Mandíbula       \
                                                            Derecho
            25        26           27           28                48
        S    G    S    G       S    G       S    G       S         G    S
0     0.0  0.0  0.0  0.0     0.0  0.0     0.0  0.0     0.0       NaN  NaN
1  1000.0  0.0  0.0  1.0  1000.0  1.0  1000.0  1.0  1000.0       NaN  NaN
2     NaN  NaN  NaN  NaN     NaN  NaN     NaN  NaN     NaN       0.0  0.0
3     0.0  0.0  0.0  1.0   100.0  0.0     0.0  0.0     0.0       0.0  0.0
4     NaN  NaN  NaN  9.0     9.0  NaN     NaN  NaN     NaN       NaN  NaN

                                                                            \

    47        46        45        44           43        42        41
     G    S    G    S    G    S    G       S    G    S    G    S    G    S
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  NaN  NaN  NaN  NaN  NaN  NaN  1.0  1000.0  NaN  NaN  NaN  NaN  NaN  NaN

                                                                            \
  Izquierdo
         31        32        33        34           35        36        37
          G    S    G    S    G    S    G       S    G    S    G    S    G
0       NaN  NaN  0.0  0.0  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN
1       NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  0.0  0.0  0.0
2       NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN  NaN
3       0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0
4       NaN  NaN  NaN  NaN  NaN  NaN  2.0  1000.0  NaN  NaN  NaN  NaN  NaN

                 avg_max_der avg_max_izq avg_man_der avg_man_izq  \

         38
     S    G    S
0  NaN  NaN  NaN      17.000    0.000000         NaN         0.0
1  0.0  NaN  NaN     125.125  286.000000         0.0         0.0
2  NaN  0.0  0.0       0.000    0.000000         0.0         0.0
3  0.0  0.0  0.0       0.000    7.214286         0.0         0.0
4  NaN  NaN  NaN         NaN    9.000000       500.5       501.0

  count_max_der count_max_izq count_man_izq count_man_der



0             6            14             2             0
1             8            14             4             4
2            10             2             2             2
3            12            14            16            16
4             0             2             2             2

In [53]:
trial['Mandíbula']['Izquierdo']

     31          32          33           34           35           36         \
      G      S    G      S    G       S    G       S    G       S    G      S
0   NaN    NaN  0.0    0.0  NaN     NaN  NaN     NaN  NaN     NaN  NaN    NaN
1   NaN    NaN  NaN    NaN  NaN     NaN  NaN     NaN  NaN     NaN  0.0    0.0
2   NaN    NaN  NaN    NaN  NaN     NaN  NaN     NaN  NaN     NaN  NaN    NaN
3   0.0    0.0  0.0    0.0  0.0     0.0  0.0     0.0  0.0     0.0  0.0    0.0
4   NaN    NaN  NaN    NaN  NaN     NaN  2.0  1000.0  NaN     NaN  NaN    NaN
..  ...    ...  ...    ...  ...     ...  ...     ...  ...     ...  ...    ...
58  NaN    NaN  NaN    NaN  0.0     0.0  0.0     0.0  0.0     0.0  NaN    NaN
59  1.0  100.0  1.0  100.0  1.0   100.0  1.0   100.0  1.0   100.0  1.0  100.0
60  NaN    NaN  NaN    NaN  NaN     NaN  NaN     NaN  NaN     NaN  NaN    NaN
61  2.0  100.0  2.0  100.0  1.0   100.0  1.0  1000.0  1.0  1000.0  9.0    9.0
62  NaN    NaN  NaN    NaN  1.0  1000.0  1.0  1000.0  1.0  1000.0  1.0  100.0

     37           38
      G       S    G      S
0   NaN     NaN  NaN    NaN
1   0.0     0.0  NaN    NaN
2   NaN     NaN  0.0    0.0
3   0.0     0.0  0.0    0.0
4   NaN     NaN  NaN    NaN
..  ...     ...  ...    ...
58  NaN     NaN  NaN    NaN
59  1.0   100.0  1.0  100.0
60  NaN     NaN  NaN    NaN
61  1.0  1000.0  NaN    NaN
62  NaN     NaN  NaN    NaN

[63 rows x 16 columns]

In [54]:
print(trial.columns)

MultiIndex([(      'Sitio', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2', ...),
            (      'Corte', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2', ...),
            (      'Rasgo', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2', ...),
            (    'Periodo', 'Unnamed: 3_level_1', 'Unnamed: 3_level_2', ...),
            (       'Sexo', 'Unnamed: 4_level_1', 'Unnamed: 4_level_2', ...),
            (       'Edad', 'Unnamed: 5_level_1', 'Unnamed: 5_level_2', ...),
            ( 'N° dientes', 'Unnamed: 6_level_1', 'Unnamed: 6_level_2', ...),
            ( 'N° dientes', 'Unnamed: 7_level_1', 'Unnamed: 7_level_2', ...),
            (    'Maxilar',            'Derecho',                   18, ...),
            (    'Maxilar',            'Derecho',                   18, ...),
            (    'Maxilar',            'Derecho',                   17, ...),
            (    'Maxilar',            'Derecho',                   17, ...),
            (    'Maxilar',            'Derecho',                   16, ...),
            (    'Maxilar',            'Derecho',                   16, ...),
            (    'Maxilar',            'Derecho',                   15, ...),
            (    'Maxilar',            'Derecho',                   15, ...),
            (    'Maxilar',            'Derecho',                   14, ...),
            (    'Maxilar',            'Derecho',                   14, ...),
            (    'Maxilar',            'Derecho',                   13, ...),
            (    'Maxilar',            'Derecho',                   13, ...),
            (    'Maxilar',            'Derecho',                   12, ...),
            (    'Maxilar',            'Derecho',                   12, ...),
            (    'Maxilar',            'Derecho',                   11, ...),
            (    'Maxilar',            'Derecho',                   11, ...),
            (    'Maxilar',          'Izquierdo',                   21, ...),
            (    'Maxilar',          'Izquierdo',                   21, ...),
            (    'Maxilar',          'Izquierdo',                   22, ...),
            (    'Maxilar',          'Izquierdo',                   22, ...),
            (    'Maxilar',          'Izquierdo',                   23, ...),
            (    'Maxilar',          'Izquierdo',                   23, ...),
            (    'Maxilar',          'Izquierdo',                   24, ...),
            (    'Maxilar',          'Izquierdo',                   24, ...),
            (    'Maxilar',          'Izquierdo',                   25, ...),
            (    'Maxilar',          'Izquierdo',                   25, ...),
            (    'Maxilar',          'Izquierdo',                   26, ...),
            (    'Maxilar',          'Izquierdo',                   26, ...),
            (    'Maxilar',          'Izquierdo',                   27, ...),
            (    'Maxilar',          'Izquierdo',                   27, ...),
            (    'Maxilar',          'Izquierdo',                   28, ...),
            (    'Maxilar',          'Izquierdo',                   28, ...),
            (  'Mandíbula',           'Derecho ',                   48, ...),
            (  'Mandíbula',           'Derecho ',                   48, ...),
            (  'Mandíbula',           'Derecho ',                   47, ...),
            (  'Mandíbula',           'Derecho ',                   47, ...),
            (  'Mandíbula',           'Derecho ',                   46, ...),
            (  'Mandíbula',           'Derecho ',                   46, ...),
            (  'Mandíbula',           'Derecho ',                   45, ...),
            (  'Mandíbula',           'Derecho ',                   45, ...),
            (  'Mandíbula',           'Derecho ',                   44, ...),
            (  'Mandíbula',           'Derecho ',                   44, ...),
            (  'Mandíbula',           'Derecho ',                   43, ...),
            (  'Mandíbula',           'Derecho ',                   43, ...),
            (  'Mandíbula',           'Derecho ',                   42, ...),
            (  'Mandíbula',           'Derecho ',                   42, ...),
            (  'Mandíbula',           'Derecho ',                   41, ...),
            (  'Mandíbula',           'Derecho ',                   41, ...),
            (  'Mandíbula',          'Izquierdo',                   31, ...),
            (  'Mandíbula',          'Izquierdo',                   31, ...),
            (  'Mandíbula',          'Izquierdo',                   32, ...),
            (  'Mandíbula',          'Izquierdo',                   32, ...),
            (  'Mandíbula',          'Izquierdo',                   33, ...),
            (  'Mandíbula',          'Izquierdo',                   33, ...),
            (  'Mandíbula',          'Izquierdo',                   34, ...),
            (  'Mandíbula',          'Izquierdo',                   34, ...),
            (  'Mandíbula',          'Izquierdo',                   35, ...),
            (  'Mandíbula',          'Izquierdo',                   35, ...),
            (  'Mandíbula',          'Izquierdo',                   36, ...),
            (  'Mandíbula',          'Izquierdo',                   36, ...),
            (  'Mandíbula',          'Izquierdo',                   37, ...),
            (  'Mandíbula',          'Izquierdo',                   37, ...),
            (  'Mandíbula',          'Izquierdo',                   38, ...),
            (  'Mandíbula',          'Izquierdo',                   38, ...),
            ('avg_max_der',                   '',                   '', ...),
            ('avg_max_izq',                   '',                   '', ...),
            ('avg_man_der',                   '',                   '', ...),
            ('avg_man_izq',                   '',                   '', ...)],
           )

In [57]:
trial.loc[:,['Mandíbula','Derecho']]

   Mandíbula                                                               \
    Derecho
          48          47          46          45          44           43
           G      S    G      S    G      S    G      S    G       S    G
0        NaN    NaN  NaN    NaN  NaN    NaN  NaN    NaN  NaN     NaN  NaN
1        NaN    NaN  0.0    0.0  0.0    0.0  NaN    NaN  NaN     NaN  NaN
2        0.0    0.0  NaN    NaN  NaN    NaN  NaN    NaN  NaN     NaN  NaN
3        0.0    0.0  0.0    0.0  0.0    0.0  0.0    0.0  0.0     0.0  0.0
4        NaN    NaN  NaN    NaN  NaN    NaN  NaN    NaN  1.0  1000.0  NaN
..       ...    ...  ...    ...  ...    ...  ...    ...  ...     ...  ...
58       NaN    NaN  NaN    NaN  NaN    NaN  NaN    NaN  2.0   100.0  1.0
59       1.0  100.0  1.0  100.0  1.0  100.0  1.0  100.0  1.0   100.0  2.0
60       NaN    NaN  NaN    NaN  NaN    NaN  NaN    NaN  NaN     NaN  1.0
61       2.0  100.0  NaN    NaN  9.0    9.0  9.0    9.0  2.0   100.0  1.0
62       NaN    NaN  NaN    NaN  0.0    0.0  1.0  100.0  1.0   100.0  1.0

                                                                        \
                                     Izquierdo
             42           41                31          32          33
         S    G       S    G       S         G      S    G      S    G
0      NaN  NaN     NaN  NaN     NaN       NaN    NaN  0.0    0.0  NaN
1      NaN  NaN     NaN  NaN     NaN       NaN    NaN  NaN    NaN  NaN
2      NaN  NaN     NaN  NaN     NaN       NaN    NaN  NaN    NaN  NaN
3      0.0  0.0     0.0  0.0     0.0       0.0    0.0  0.0    0.0  0.0
4      NaN  NaN     NaN  NaN     NaN       NaN    NaN  NaN    NaN  NaN
..     ...  ...     ...  ...     ...       ...    ...  ...    ...  ...
58  1000.0  NaN     NaN  NaN     NaN       NaN    NaN  NaN    NaN  0.0
59  1000.0  NaN     NaN  1.0   100.0       1.0  100.0  1.0  100.0  1.0
60  1000.0  NaN     NaN  NaN     NaN       NaN    NaN  NaN    NaN  NaN
61   100.0  2.0   100.0  2.0   100.0       2.0  100.0  2.0  100.0  1.0
62  1000.0  1.0  1000.0  1.0  1000.0       NaN    NaN  NaN    NaN  1.0



             34           35           36          37           38
         S    G       S    G       S    G      S    G       S    G      S
0      NaN  NaN     NaN  NaN     NaN  NaN    NaN  NaN     NaN  NaN    NaN
1      NaN  NaN     NaN  NaN     NaN  0.0    0.0  0.0     0.0  NaN    NaN
2      NaN  NaN     NaN  NaN     NaN  NaN    NaN  NaN     NaN  0.0    0.0
3      0.0  0.0     0.0  0.0     0.0  0.0    0.0  0.0     0.0  0.0    0.0
4      NaN  2.0  1000.0  NaN     NaN  NaN    NaN  NaN     NaN  NaN    NaN
..     ...  ...     ...  ...     ...  ...    ...  ...     ...  ...    ...
58     0.0  0.0     0.0  0.0     0.0  NaN    NaN  NaN     NaN  NaN    NaN
59   100.0  1.0   100.0  1.0   100.0  1.0  100.0  1.0   100.0  1.0  100.0
60     NaN  NaN     NaN  NaN     NaN  NaN    NaN  NaN     NaN  NaN    NaN
61   100.0  1.0  1000.0  1.0  1000.0  9.0    9.0  1.0  1000.0  NaN    NaN
62  1000.0  1.0  1000.0  1.0  1000.0  1.0  100.0  NaN     NaN  NaN    NaN

[63 rows x 32 columns]

In [16]:
df_calculo['Maxilar']['Derecho']

     18        17        16        15        14        13        12        11  \
      G    S    G    S    G    S    G    S    G    S    G    S    G    S    G
0   NaN  NaN  NaN  NaN  2.0    V  0.0    0  0.0    0  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  0.0    0  NaN  NaN  1.0    L  0.0    0  NaN  NaN  NaN  NaN  0.0
2   0.0    0  0.0    0  0.0    0  0.0    0  NaN  NaN  0.0    0  NaN  NaN  NaN
3   0.0    0  0.0    0  0.0    0  0.0    0  0.0    0  0.0    0  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
58  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
59  1.0    V  1.0    V  1.0    V  1.0    V  1.0    V  1.0    V  NaN  NaN  NaN
60  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  NaN  NaN  NaN  NaN  NaN  NaN  9.0    9  3.0    V  1.0    V  1.0    V  2.0
62  NaN  NaN  3.0    V  3.0    V  3.0    V  2.0    V  NaN  NaN  2.0    V  NaN


      S
0   NaN
1     0
2   NaN
3   NaN
4   NaN
..  ...
58  NaN
59  NaN
60  NaN
61    V
62  NaN

[63 rows x 16 columns]

In [57]:
a=df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3])

In [39]:
9a

0     NaN
1     NaN
2     0.0
3     0.0
4     NaN
     ...
58    NaN
59    1.0
60    NaN
61    NaN
62    NaN
Name: (Maxilar, Derecho, 18, G), Length: 63, dtype: float64

In [64]:
x=range(11,19,1)

In [192]:
p=pd.DataFrame()

In [193]:
x=range(17,10,-1)

In [194]:
#This is a way to select just one of the two columns for each tooth 

p= df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3])

for number in x:
    p=p.join(df_calculo.xs(('Maxilar','Derecho',number, 'G'), axis=1, level=[0,1,2,3]))

In [195]:
p

   Maxilar
   Derecho
        18   17   16   15   14   13   12   11
         G    G    G    G    G    G    G    G
0      NaN  NaN  2.0  0.0  0.0  NaN  NaN  NaN
1      NaN  0.0  NaN  1.0  0.0  NaN  NaN  0.0
2      0.0  0.0  0.0  0.0  NaN  0.0  NaN  NaN
3      0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
59     1.0  1.0  1.0  1.0  1.0  1.0  NaN  NaN
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  9.0  3.0  1.0  1.0  2.0
62     NaN  3.0  3.0  3.0  2.0  NaN  2.0  NaN

[63 rows x 8 columns]

In [152]:
p

Empty DataFrame
Columns: [(Maxilar, Derecho, 11, G), (Maxilar, Derecho, 12, G), (Maxilar, Derecho, 13, G), (Maxilar, Derecho, 14, G), (Maxilar, Derecho, 15, G), (Maxilar, Derecho, 16, G), (Maxilar, Derecho, 17, G), (Maxilar, Derecho, 18, G)]
Index: []

In [153]:
for number in x:
    print(number)

11
12
13
14
15
16
17
18

In [154]:
z=df_calculo.xs(('Maxilar','Derecho',11, 'G'), axis=1, level=[0,1,2,3])

In [155]:
z

   Maxilar
   Derecho
        11
         G
0      NaN
1      0.0
2      NaN
3      NaN
4      NaN
..     ...
58     NaN
59     NaN
60     NaN
61     2.0
62     NaN

[63 rows x 1 columns]

In [141]:
b=b.join(df_calculo.xs(('Maxilar','Derecho',14, 'G'), axis=1, level=[0,1,2,3]))

In [142]:
b

   Maxilar
   Derecho
        11   12   13   14
         G    G    G    G
0      NaN  NaN  NaN  0.0
1      0.0  NaN  NaN  0.0
2      NaN  NaN  0.0  NaN
3      NaN  NaN  0.0  0.0
4      NaN  NaN  NaN  NaN
..     ...  ...  ...  ...
58     NaN  NaN  NaN  NaN
59     NaN  NaN  1.0  1.0
60     NaN  NaN  NaN  NaN
61     2.0  1.0  1.0  3.0
62     NaN  2.0  NaN  2.0

[63 rows x 4 columns]

In [131]:
a

   Maxilar
   Derecho
        11   12
         G    G
0      NaN  NaN
1      0.0  NaN
2      NaN  NaN
3      NaN  NaN
4      NaN  NaN
..     ...  ...
58     NaN  NaN
59     NaN  NaN
60     NaN  NaN
61     2.0  1.0
62     NaN  2.0

[63 rows x 2 columns]

In [111]:
df_calculo.xs(('Maxilar','Derecho',12, 'G'), axis=1, level=[0,1,2,3])

   Maxilar
   Derecho
        12
         G
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
..     ...
58     NaN
59     NaN
60     NaN
61     1.0
62     2.0

[63 rows x 1 columns]

In [156]:
asa=pd.DataFrame()

In [157]:
asa=asa.join(df_calculo.xs(('Maxilar','Derecho',number, 'G'), axis=1, level=[0,1,2,3]))

In [158]:
asa

Empty DataFrame
Columns: [(Maxilar, Derecho, 18, G)]
Index: []

In [178]:
a_1=range(31,39,1)

In [179]:
a_1

range(48, 40, -1)

In [170]:
print(a_1)

range(19, 10, -1)

In [180]:
for x in a_1:
    print(x)

48
47
46
45
44
43
42
41

In [6]:
max_der_num=range(17,10,-1)
# ubicacion dientes maxilar derecho
# I need to give the first column to have a template, after it the join works

In [7]:
max_izq_num=range(21,29,1)
#ubicacion dientes maxilar izquierdo

In [8]:
mand_der_num=range(48,40,-1)
## ubicacion dientes mandibular derecho

In [9]:
mand_izq_num=range(31,39,1)
## ubicacion dientes mandibular izquierdo

In [10]:
teeth_num=[max_der_num,max_izq_num, mand_der_num,mand_izq_num]
# four elements each a range given the location of some teeth

In [199]:
teeth_num

[range(17, 10, -1), range(21, 29), range(48, 40, -1), range(31, 39)]

In [11]:
up_down=['Maxilar','Mandíbula']

In [12]:
side_maxilar=['Derecho','Izquierdo']

In [14]:
side_mandibular=['Derecho ','Izquierdo']

In [210]:
p= df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3])

In [236]:
side_maxilar

['Derecho', 'Izquierdo']

In [241]:
for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side=='Derecho':
                for num in max_der_num:
                    print(place,side,num)

Maxilar Derecho 17
Maxilar Derecho 16
Maxilar Derecho 15
Maxilar Derecho 14
Maxilar Derecho 13
Maxilar Derecho 12
Maxilar Derecho 11

In [237]:
for side in side_maxilar:
    if side =='Derecho':
        print('Ok')

Ok

In [ ]:
for side in side_maxilar:
            if side_maxilar=='Derecho':
                print(place, side_maxilar)

In [483]:
#this is the way to make a table just with one of the characteristics of the teeth


df_g= df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_g=df_g.join(df_calculo.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_g=df_g.join(df_calculo.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_g=df_g.join(df_calculo.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_g=df_g.join(df_calculo.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))

In [254]:
p

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
         G    G    G    G    G    G    G    G         G    G    G    G    G
0      NaN  NaN  2.0  0.0  0.0  NaN  NaN  NaN       NaN  0.0  0.0  0.0  0.0
1      NaN  0.0  NaN  1.0  0.0  NaN  NaN  0.0       NaN  0.0  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN       NaN  0.0  0.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  1.0  1.0  1.0  1.0  1.0  NaN  NaN       NaN  NaN  1.0  1.0  1.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  9.0  3.0  1.0  1.0  2.0       2.0  2.0  1.0  1.0  3.0
62     NaN  3.0  3.0  3.0  2.0  NaN  2.0  NaN       NaN  NaN  NaN  1.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
      G    G    G         G    G    G    G    G    G    G    G         G    G
0   0.0  0.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  0.0
1   1.0  1.0  1.0       NaN  0.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN       0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   1.0  0.0  0.0       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0       0.0  0.0
4   9.0  NaN  NaN       NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  0.0  NaN  2.0       NaN  NaN  NaN  NaN  2.0  1.0  NaN  NaN       NaN  NaN
59  2.0  2.0  1.0       1.0  1.0  1.0  1.0  1.0  2.0  NaN  1.0       1.0  1.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN       2.0  NaN  9.0  9.0  2.0  1.0  2.0  2.0       2.0  2.0
62  NaN  1.0  NaN       NaN  NaN  0.0  1.0  1.0  1.0  1.0  1.0       NaN  NaN



     33   34   35   36   37   38
      G    G    G    G    G    G
0   NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  0.0  0.0  NaN
2   NaN  NaN  NaN  NaN  NaN  0.0
3   0.0  0.0  0.0  0.0  0.0  0.0
4   NaN  2.0  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...
58  0.0  0.0  0.0  NaN  NaN  NaN
59  1.0  1.0  1.0  1.0  1.0  1.0
60  NaN  NaN  NaN  NaN  NaN  NaN
61  1.0  1.0  1.0  9.0  1.0  NaN
62  1.0  1.0  1.0  1.0  NaN  NaN

[63 rows x 32 columns]

In [255]:
df_calculo.head(2)

               Sitio              Corte              Rasgo            Periodo  \
  Unnamed: 0_level_1 Unnamed: 1_level_1 Unnamed: 2_level_1 Unnamed: 3_level_1
  Unnamed: 0_level_2 Unnamed: 1_level_2 Unnamed: 2_level_2 Unnamed: 3_level_2
  Unnamed: 0_level_3 Unnamed: 1_level_3 Unnamed: 2_level_3 Unnamed: 3_level_3
0   01 Palma Plana                  NaN    Rasgo L-20 (II)                4.1
1     02 Palma Torre                NaN        B-5 Tumba 2                4.2

                Sexo               Edad         N° dientes                     \
  Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1 Unnamed: 7_level_1
  Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2 Unnamed: 7_level_2
  Unnamed: 4_level_3 Unnamed: 5_level_3            Maxilar          Mandíbula
0                  M              24-30                  9                  1
1                  F              20-24                 11                  4

  Maxilar                                                                  \
  Derecho
       18        17        16        15      14     13       12        11
        G    S    G    S    G    S    G  S    G  S   G    S   G    S    G
0     NaN  NaN  NaN  NaN  2.0    V  0.0  0  0.0  0 NaN  NaN NaN  NaN  NaN
1     NaN  NaN  0.0    0  NaN  NaN  1.0  L  0.0  0 NaN  NaN NaN  NaN  0.0

                                                                               \
       Izquierdo
              21        22      23      24      25      26      27      28
     S         G    S    G  S    G  S    G  S    G  S    G  S    G  S    G  S
0  NaN       NaN  NaN  0.0  0  0.0  0  0.0  0  0.0  0  0.0  0  0.0  0  0.0  0
1    0       NaN  NaN  0.0  0  0.0  0  1.0  L  0.0  0  1.0  L  1.0  L  1.0  L

  Mandíbula                                                                   \
   Derecho
         48        47        46       45       44       43       42       41
          G    S    G    S    G    S   G    S   G    S   G    S   G    S   G
0       NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN NaN  NaN NaN  NaN NaN  NaN NaN
1       NaN  NaN  0.0    0  0.0    0 NaN  NaN NaN  NaN NaN  NaN NaN  NaN NaN

                                                                           \
       Izquierdo
              31        32       33       34       35        36        37
     S         G    S    G    S   G    S   G    S   G    S    G    S    G
0  NaN       NaN  NaN  0.0    0 NaN  NaN NaN  NaN NaN  NaN  NaN  NaN  NaN
1  NaN       NaN  NaN  NaN  NaN NaN  NaN NaN  NaN NaN  NaN  0.0    0  0.0



        38
     S   G    S
0  NaN NaN  NaN
1    0 NaN  NaN

In [263]:
sitio=df_calculo.xs(('Sito','Unnamed: 0_level_1','Unnamed: 0_level_2','Unnamed: 0_level_3'), axis=1, level=[0,1,2,3])

In [265]:
sitio.join(df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3]))

               Sitio  (Maxilar, Derecho, 18, G)
0   01 Palma Plana                          NaN
1     02 Palma Torre                        NaN
2     02 Palma Torre                        0.0
3      09 El Refugio                        0.0
4      09 El Refugio                        NaN
..               ...                        ...
58           El Edén                        NaN
59           El Edén                        1.0
60           El Edén                        NaN
61           El Edén                        NaN
62           El Edén                        NaN

[63 rows x 2 columns]

In [270]:
df_calculo['Sitio']['Unnamed: 0_level_1']['Unnamed: 0_level_2']['Unnamed: 0_level_3']

0     01 Palma Plana
1       02 Palma Torre
2       02 Palma Torre
3        09 El Refugio
4        09 El Refugio
            ...
58             El Edén
59             El Edén
60             El Edén
61             El Edén
62             El Edén
Name: Unnamed: 0_level_3, Length: 63, dtype: object

In [276]:
#sitio column 

sitio=df_calculo.xs(('Sitio','Unnamed: 0_level_1','Unnamed: 0_level_2','Unnamed: 0_level_3'), axis=1, level=[0,1,2,3])

In [279]:
#rasgo column

rasgo=df_calculo.xs(('Rasgo','Unnamed: 2_level_1','Unnamed: 2_level_2','Unnamed: 2_level_3'), axis=1, level=[0,1,2,3])

In [282]:
#periodo column

periodo=df_calculo.xs(('Periodo','Unnamed: 3_level_1','Unnamed: 3_level_2','Unnamed: 3_level_3'), axis=1, level=[0,1,2,3])

In [285]:
#sexo column

sexo=df_calculo.xs(('Sexo','Unnamed: 4_level_1','Unnamed: 4_level_2','Unnamed: 4_level_3'), axis=1, level=[0,1,2,3])

In [288]:
#edad column

edad=df_calculo.xs(('Edad','Unnamed: 5_level_1','Unnamed: 5_level_2','Unnamed: 5_level_3'), axis=1, level=[0,1,2,3])

In [291]:
#numero de dientes maxilar

n_dientes_max=df_calculo.xs(('N° dientes','Unnamed: 6_level_1','Unnamed: 6_level_2','Maxilar'), axis=1, level=[0,1,2,3])

In [293]:
#numero de dientes mandibula

n_dientes_mand=df_calculo.xs(('N° dientes','Unnamed: 7_level_1','Unnamed: 7_level_2','Mandíbula'), axis=1, level=[0,1,2,3])

In [ ]:
#numero total de dientes

n_dientes_tot=n_dientes_max.join(n_dientes_mand)

In [290]:
edad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 1 columns):
(Edad, Unnamed: 5_level_1, Unnamed: 5_level_2, Unnamed: 5_level_3)    63 non-null object
dtypes: object(1)
memory usage: 632.0+ bytes

In [275]:
#to get the full column I need to use slice xs, after I can join with the other columns 

sitio.join(df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3]))

                Sitio Maxilar
   Unnamed: 0_level_1 Derecho
   Unnamed: 0_level_2      18
   Unnamed: 0_level_3       G
0    01 Palma Plana       NaN
1      02 Palma Torre     NaN
2      02 Palma Torre     0.0
3       09 El Refugio     0.0
4       09 El Refugio     NaN
..                ...     ...
58            El Edén     NaN
59            El Edén     1.0
60            El Edén     NaN
61            El Edén     NaN
62            El Edén     NaN

[63 rows x 2 columns]

In [329]:
#numero total de dientes

n_dientes_tot=n_dientes_max.join(n_dientes_mand)

In [331]:
# extra columns with the total number of teeth

n_dientes_tot['suma_dientes']=n_dientes_tot.sum(axis=1)

In [332]:
n_dientes_tot

           N° dientes                    suma_dientes
   Unnamed: 6_level_1 Unnamed: 7_level_1
   Unnamed: 6_level_2 Unnamed: 7_level_2
              Maxilar          Mandíbula
0                   9                  1           10
1                  11                  4           15
2                   6                  2            8
3                  13                 16           29
4                   1                  2            3
..                ...                ...          ...
58                  2                  5            7
59                 12                 15           27
60                  0                  1            1
61                 10                 14           24
62                  7                 10           17

[63 rows x 3 columns]

In [298]:
sitio.join(n_dientes_tot)

                Sitio         N° dientes
   Unnamed: 0_level_1 Unnamed: 6_level_1 Unnamed: 7_level_1
   Unnamed: 0_level_2 Unnamed: 6_level_2 Unnamed: 7_level_2
   Unnamed: 0_level_3            Maxilar          Mandíbula
0    01 Palma Plana                    9                  1
1      02 Palma Torre                 11                  4
2      02 Palma Torre                  6                  2
3       09 El Refugio                 13                 16
4       09 El Refugio                  1                  2
..                ...                ...                ...
58            El Edén                  2                  5
59            El Edén                 12                 15
60            El Edén                  0                  1
61            El Edén                 10                 14
62            El Edén                  7                 10

[63 rows x 3 columns]

In [424]:
#this is the way to make a table just with one of the characteristics of the teeth


p= df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    p=p.join(df_calculo.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    p=p.join(df_calculo.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    p=p.join(df_calculo.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    p=p.join(df_calculo.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))

In [425]:
x_1=p

In [426]:
#In this way I can make a list to check how many values are 9 and after substract them of the total number of teeth to calculate the percentage of damage teeth

a=[]
i=0

while i<=62:
    a.append(p.iloc[i].apply(lambda x: np.nan if x!=9.0 else 9.0).count())
    i=i+1

In [427]:
#numero de calculos por individuo

x_1['numero_de_calculos']=p.replace({0.0:np.nan,9.0:np.nan}).count(axis=1)

In [428]:
#number de dientes no observables para calculos

x_1['numero_de_dientes_no_obs']=a

In [429]:
#porcentaje de dientes que tienen calculo, tras restar los 9 para poder tener el porcentaje real

x_1['porcentaje_dientes_con_calculo']=x_1['numero_de_calculos']/((n_dientes_tot['suma_dientes'])-(x_1['numero_de_dientes_no_obs']))

In [368]:
x_1

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
         G    G    G    G    G    G    G    G         G    G    G    G    G
0      NaN  NaN  2.0  0.0  0.0  NaN  NaN  NaN       NaN  0.0  0.0  0.0  0.0
1      NaN  0.0  NaN  1.0  0.0  NaN  NaN  0.0       NaN  0.0  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN       NaN  0.0  0.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  1.0  1.0  1.0  1.0  1.0  NaN  NaN       NaN  NaN  1.0  1.0  1.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  9.0  3.0  1.0  1.0  2.0       2.0  2.0  1.0  1.0  3.0
62     NaN  3.0  3.0  3.0  2.0  NaN  2.0  NaN       NaN  NaN  NaN  1.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
      G    G    G         G    G    G    G    G    G    G    G         G    G
0   0.0  0.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  0.0
1   1.0  1.0  1.0       NaN  0.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN       0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   1.0  0.0  0.0       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0       0.0  0.0
4   9.0  NaN  NaN       NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  0.0  NaN  2.0       NaN  NaN  NaN  NaN  2.0  1.0  NaN  NaN       NaN  NaN
59  2.0  2.0  1.0       1.0  1.0  1.0  1.0  1.0  2.0  NaN  1.0       1.0  1.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN       2.0  NaN  9.0  9.0  2.0  1.0  2.0  2.0       2.0  2.0
62  NaN  1.0  NaN       NaN  NaN  0.0  1.0  1.0  1.0  1.0  1.0       NaN  NaN

                                 numero_de_calculos  \

     33   34   35   36   37   38
      G    G    G    G    G    G
0   NaN  NaN  NaN  NaN  NaN  NaN                  1
1   NaN  NaN  NaN  0.0  0.0  NaN                  5
2   NaN  NaN  NaN  NaN  NaN  0.0                  0
3   0.0  0.0  0.0  0.0  0.0  0.0                  1
4   NaN  2.0  NaN  NaN  NaN  NaN                  2
..  ...  ...  ...  ...  ...  ...                ...
58  0.0  0.0  0.0  NaN  NaN  NaN                  3
59  1.0  1.0  1.0  1.0  1.0  1.0                 27
60  NaN  NaN  NaN  NaN  NaN  NaN                  1
61  1.0  1.0  1.0  9.0  1.0  NaN                 20
62  1.0  1.0  1.0  1.0  NaN  NaN                 16

   porcentaje_dientes_con_calculo



0                        0.100000
1                        0.333333
2                        0.000000
3                        0.034483
4                        0.666667
..                            ...
58                       0.428571
59                       1.000000
60                       1.000000
61                       0.833333
62                       0.941176

[63 rows x 34 columns]

In [432]:
x_1

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
         G    G    G    G    G    G    G    G         G    G    G    G    G
0      NaN  NaN  2.0  0.0  0.0  NaN  NaN  NaN       NaN  0.0  0.0  0.0  0.0
1      NaN  0.0  NaN  1.0  0.0  NaN  NaN  0.0       NaN  0.0  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN       NaN  0.0  0.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  1.0  1.0  1.0  1.0  1.0  NaN  NaN       NaN  NaN  1.0  1.0  1.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  9.0  3.0  1.0  1.0  2.0       2.0  2.0  1.0  1.0  3.0
62     NaN  3.0  3.0  3.0  2.0  NaN  2.0  NaN       NaN  NaN  NaN  1.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
      G    G    G         G    G    G    G    G    G    G    G         G    G
0   0.0  0.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  0.0
1   1.0  1.0  1.0       NaN  0.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN       0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   1.0  0.0  0.0       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0       0.0  0.0
4   9.0  NaN  NaN       NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  0.0  NaN  2.0       NaN  NaN  NaN  NaN  2.0  1.0  NaN  NaN       NaN  NaN
59  2.0  2.0  1.0       1.0  1.0  1.0  1.0  1.0  2.0  NaN  1.0       1.0  1.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN       2.0  NaN  9.0  9.0  2.0  1.0  2.0  2.0       2.0  2.0
62  NaN  1.0  NaN       NaN  NaN  0.0  1.0  1.0  1.0  1.0  1.0       NaN  NaN

                                 numero_de_calculos numero_de_dientes_no_obs  \

     33   34   35   36   37   38
      G    G    G    G    G    G
0   NaN  NaN  NaN  NaN  NaN  NaN                  1                        0
1   NaN  NaN  NaN  0.0  0.0  NaN                  5                        0
2   NaN  NaN  NaN  NaN  NaN  0.0                  0                        0
3   0.0  0.0  0.0  0.0  0.0  0.0                  1                        0
4   NaN  2.0  NaN  NaN  NaN  NaN                  2                        1
..  ...  ...  ...  ...  ...  ...                ...                      ...
58  0.0  0.0  0.0  NaN  NaN  NaN                  3                        0
59  1.0  1.0  1.0  1.0  1.0  1.0                 27                        0
60  NaN  NaN  NaN  NaN  NaN  NaN                  1                        0
61  1.0  1.0  1.0  9.0  1.0  NaN                 20                        4
62  1.0  1.0  1.0  1.0  NaN  NaN                 16                        0

   porcentaje_dientes_con_calculo



0                        0.100000
1                        0.333333
2                        0.000000
3                        0.034483
4                        1.000000
..                            ...
58                       0.428571
59                       1.000000
60                       1.000000
61                       1.000000
62                       0.941176

[63 rows x 35 columns]

In [431]:
p

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
         G    G    G    G    G    G    G    G         G    G    G    G    G
0      NaN  NaN  2.0  0.0  0.0  NaN  NaN  NaN       NaN  0.0  0.0  0.0  0.0
1      NaN  0.0  NaN  1.0  0.0  NaN  NaN  0.0       NaN  0.0  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN       NaN  0.0  0.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  1.0  1.0  1.0  1.0  1.0  NaN  NaN       NaN  NaN  1.0  1.0  1.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  9.0  3.0  1.0  1.0  2.0       2.0  2.0  1.0  1.0  3.0
62     NaN  3.0  3.0  3.0  2.0  NaN  2.0  NaN       NaN  NaN  NaN  1.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
      G    G    G         G    G    G    G    G    G    G    G         G    G
0   0.0  0.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  0.0
1   1.0  1.0  1.0       NaN  0.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN       0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   1.0  0.0  0.0       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0       0.0  0.0
4   9.0  NaN  NaN       NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  0.0  NaN  2.0       NaN  NaN  NaN  NaN  2.0  1.0  NaN  NaN       NaN  NaN
59  2.0  2.0  1.0       1.0  1.0  1.0  1.0  1.0  2.0  NaN  1.0       1.0  1.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN       2.0  NaN  9.0  9.0  2.0  1.0  2.0  2.0       2.0  2.0
62  NaN  1.0  NaN       NaN  NaN  0.0  1.0  1.0  1.0  1.0  1.0       NaN  NaN

                                 numero_de_calculos numero_de_dientes_no_obs  \

     33   34   35   36   37   38
      G    G    G    G    G    G
0   NaN  NaN  NaN  NaN  NaN  NaN                  1                        0
1   NaN  NaN  NaN  0.0  0.0  NaN                  5                        0
2   NaN  NaN  NaN  NaN  NaN  0.0                  0                        0
3   0.0  0.0  0.0  0.0  0.0  0.0                  1                        0
4   NaN  2.0  NaN  NaN  NaN  NaN                  2                        1
..  ...  ...  ...  ...  ...  ...                ...                      ...
58  0.0  0.0  0.0  NaN  NaN  NaN                  3                        0
59  1.0  1.0  1.0  1.0  1.0  1.0                 27                        0
60  NaN  NaN  NaN  NaN  NaN  NaN                  1                        0
61  1.0  1.0  1.0  9.0  1.0  NaN                 20                        4
62  1.0  1.0  1.0  1.0  NaN  NaN                 16                        0

   porcentaje_dientes_con_calculo



0                        0.100000
1                        0.333333
2                        0.000000
3                        0.034483
4                        1.000000
..                            ...
58                       0.428571
59                       1.000000
60                       1.000000
61                       1.000000
62                       0.941176

[63 rows x 35 columns]

In [471]:
pd.DataFrame(p.iloc[61].value_counts())

      61
1.0   10
2.0    9
9.0    4
3.0    2
4.0    1
20.0   1

In [484]:
cal_grado=pd.DataFrame()

In [396]:
#numero de dientes donde no es observable nada para el individuo 61

p.iloc[61].apply(lambda x: np.nan if x!=9.0 else 9.0).count()

4

In [419]:
#In this way I can make a list to check how many values are 9 and after substract them of the total number of teeth to calculate the percentage of damage teeth

a=[]
i=0

while i<=62:
    a.append(p.iloc[i].apply(lambda x: np.nan if x!=9.0 else 9.0).count())
    i=i+1

In [485]:
#In this way I can make a list of grade 1 calculos para los individuos
cal_G_1=[]
i=0

while i<=62:
    cal_G_1.append(p.iloc[i].apply(lambda x: np.nan if x!=1.0 else 1.0).count())
    i=i+1
    
    
cal_grado['G1']=cal_G_1

In [487]:
#In this way I can make a list of grade 2 calculos para los individuos
cal_G_2=[]
i=0

while i<=62:
    cal_G_2.append(p.iloc[i].apply(lambda x: np.nan if x!=2.0 else 2.0).count())
    i=i+1
    
cal_grado['G2']=cal_G_2

In [488]:
#In this way I can make a list of grade 3 calculos para los individuos
cal_G_3=[]
i=0

while i<=62:
    cal_G_3.append(p.iloc[i].apply(lambda x: np.nan if x!=3.0 else 3.0).count())
    i=i+1
    
cal_grado['G3']=cal_G_3

In [489]:
#In this way I can make a list of grade 4 calculos para los individuos
cal_G_4=[]
i=0

while i<=62:
    cal_G_4.append(p.iloc[i].apply(lambda x: np.nan if x!=4.0 else 4.0).count())
    i=i+1
    
cal_grado['G4']=cal_G_4

In [490]:
#In this way I can make a list of grade 5 calculos para los individuos
cal_G_5=[]
i=0

while i<=62:
    cal_G_5.append(p.iloc[i].apply(lambda x: np.nan if x!=5.0 else 5.0).count())
    i=i+1
    
cal_grado['G5']=cal_G_5

In [491]:
#In this way I can make a list of grade 6 calculos para los individuos
cal_G_6=[]
i=0

while i<=62:
    cal_G_6.append(p.iloc[i].apply(lambda x: np.nan if x!=6.0 else 6.0).count())
    i=i+1
    
cal_grado['G6']=cal_G_6

In [492]:
#In this way I can make a list of grade 7 calculos para los individuos
cal_G_7=[]
i=0

while i<=62:
    cal_G_7.append(p.iloc[i].apply(lambda x: np.nan if x!=7.0 else 7.0).count())
    i=i+1
    
cal_grado['G7']=cal_G_7

In [493]:
#In this way I can make a list of grade 8 calculos para los individuos
cal_G_8=[]
i=0

while i<=62:
    cal_G_8.append(p.iloc[i].apply(lambda x: np.nan if x!=8.0 else 8.0).count())
    i=i+1
    
cal_grado['G8']=cal_G_8

In [466]:
for i in range(1,9):
    trial_cal[i_G]=cal_G_i

NameError: name 'cal_G_i' is not defined

In [494]:
#tabla con numero de calculos de cada grado, solo hay hasta grado 3, los otros grados fueron un error 

cal_grado

    G1  G2  G3  G4  G5  G6  G7  G8
0    0   1   0   0   0   0   0   0
1    5   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0
3    1   0   0   0   0   0   0   0
4    1   1   0   0   0   0   0   0
..  ..  ..  ..  ..  ..  ..  ..  ..
58   1   2   0   0   0   0   0   0
59  24   3   0   0   0   0   0   0
60   1   0   0   0   0   0   0   0
61   9   9   2   0   0   0   0   0
62  11   2   3   0   0   0   0   0

[63 rows x 8 columns]

In [496]:
cal_G_6

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [461]:
trial_cal

           N° dientes                    suma_dientes cal_G_1
   Unnamed: 6_level_1 Unnamed: 7_level_1
   Unnamed: 6_level_2 Unnamed: 7_level_2
              Maxilar          Mandíbula
0                   9                  1           10       1
1                  11                  4           15       5
2                   6                  2            8       0
3                  13                 16           29       2
4                   1                  2            3       3
..                ...                ...          ...     ...
58                  2                  5            7       1
59                 12                 15           27      25
60                  0                  1            1       3
61                 10                 14           24      10
62                  7                 10           17      11

[63 rows x 4 columns]

In [454]:
cal_G_8

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [423]:
p

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
         G    G    G    G    G    G    G    G         G    G    G    G    G
0      NaN  NaN  2.0  0.0  0.0  NaN  NaN  NaN       NaN  0.0  0.0  0.0  0.0
1      NaN  0.0  NaN  1.0  0.0  NaN  NaN  0.0       NaN  0.0  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN       NaN  0.0  0.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  1.0  1.0  1.0  1.0  1.0  NaN  NaN       NaN  NaN  1.0  1.0  1.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  9.0  3.0  1.0  1.0  2.0       2.0  2.0  1.0  1.0  3.0
62     NaN  3.0  3.0  3.0  2.0  NaN  2.0  NaN       NaN  NaN  NaN  1.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
      G    G    G         G    G    G    G    G    G    G    G         G    G
0   0.0  0.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  0.0
1   1.0  1.0  1.0       NaN  0.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN       0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   1.0  0.0  0.0       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0       0.0  0.0
4   9.0  NaN  NaN       NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  0.0  NaN  2.0       NaN  NaN  NaN  NaN  2.0  1.0  NaN  NaN       NaN  NaN
59  2.0  2.0  1.0       1.0  1.0  1.0  1.0  1.0  2.0  NaN  1.0       1.0  1.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN       2.0  NaN  9.0  9.0  2.0  1.0  2.0  2.0       2.0  2.0
62  NaN  1.0  NaN       NaN  NaN  0.0  1.0  1.0  1.0  1.0  1.0       NaN  NaN

                                 trial

     33   34   35   36   37   38
      G    G    G    G    G    G
0   NaN  NaN  NaN  NaN  NaN  NaN     0
1   NaN  NaN  NaN  0.0  0.0  NaN     0
2   NaN  NaN  NaN  NaN  NaN  0.0     0
3   0.0  0.0  0.0  0.0  0.0  0.0     0
4   NaN  2.0  NaN  NaN  NaN  NaN     1
..  ...  ...  ...  ...  ...  ...   ...
58  0.0  0.0  0.0  NaN  NaN  NaN     0
59  1.0  1.0  1.0  1.0  1.0  1.0     0
60  NaN  NaN  NaN  NaN  NaN  NaN     0
61  1.0  1.0  1.0  9.0  1.0  NaN     4
62  1.0  1.0  1.0  1.0  NaN  NaN     0

[63 rows x 33 columns]

In [412]:
a[61].DataFrame(p.iloc[61].apply(lambda x: np.nan if x!=9.0 else 9.0).count())

KeyError: 61

In [418]:
p.iloc[5].apply(lambda x: np.nan if x!=9.0 else 9.0).count()

4

In [314]:
trial_1

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
         G    G    G    G    G    G    G    G         G    G    G    G    G
0      NaN  NaN    2  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
1      NaN  NaN  NaN    1  NaN  NaN  NaN  NaN       NaN  NaN  NaN    1  NaN
2      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
3      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59       1    1    1    1    1    1  NaN  NaN       NaN  NaN    1    1    1
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN    9    3    1    1    2         2    2    1    1    3
62     NaN    3    3    3    2  NaN    2  NaN       NaN  NaN  NaN    1  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
      G    G    G         G    G    G    G    G    G    G    G         G    G
0   NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
1     1    1    1       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3     1  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
4     9  NaN  NaN       NaN  NaN  NaN  NaN    1  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  NaN  NaN    2       NaN  NaN  NaN  NaN    2    1  NaN  NaN       NaN  NaN
59    2    2    1         1    1    1    1    1    2  NaN    1         1    1
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN    1  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN         2  NaN    9    9    2    1    2    2         2    2
62  NaN    1  NaN       NaN  NaN  NaN    1    1    1    1    1       NaN  NaN



     33   34   35   36   37   38
      G    G    G    G    G    G
0   NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN
3   NaN  NaN  NaN  NaN  NaN  NaN
4   NaN    2  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...
58  NaN  NaN  NaN  NaN  NaN  NaN
59    1    1    1    1    1    1
60  NaN  NaN  NaN  NaN  NaN  NaN
61    1    1    1    9    1  NaN
62    1    1    1    1  NaN  NaN

[63 rows x 32 columns]

In [310]:
trial_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 32 columns):
(Maxilar, Derecho, 18, G)        19 non-null object
(Maxilar, Derecho, 17, G)        27 non-null object
(Maxilar, Derecho, 16, G)        38 non-null object
(Maxilar, Derecho, 15, G)        31 non-null object
(Maxilar, Derecho, 14, G)        27 non-null object
(Maxilar, Derecho, 13, G)        33 non-null object
(Maxilar, Derecho, 12, G)        16 non-null object
(Maxilar, Derecho, 11, G)        20 non-null object
(Maxilar, Izquierdo, 21, G)      21 non-null object
(Maxilar, Izquierdo, 22, G)      19 non-null object
(Maxilar, Izquierdo, 23, G)      32 non-null object
(Maxilar, Izquierdo, 24, G)      32 non-null object
(Maxilar, Izquierdo, 25, G)      31 non-null object
(Maxilar, Izquierdo, 26, G)      38 non-null object
(Maxilar, Izquierdo, 27, G)      29 non-null object
(Maxilar, Izquierdo, 28, G)      20 non-null object
(Mandíbula, Derecho , 48, G)     17 non-null object
(Mandíbula, Derecho , 47, G)     26 non-null object
(Mandíbula, Derecho , 46, G)     34 non-null object
(Mandíbula, Derecho , 45, G)     35 non-null object
(Mandíbula, Derecho , 44, G)     43 non-null object
(Mandíbula, Derecho , 43, G)     37 non-null object
(Mandíbula, Derecho , 42, G)     21 non-null object
(Mandíbula, Derecho , 41, G)     22 non-null object
(Mandíbula, Izquierdo, 31, G)    20 non-null object
(Mandíbula, Izquierdo, 32, G)    26 non-null object
(Mandíbula, Izquierdo, 33, G)    38 non-null object
(Mandíbula, Izquierdo, 34, G)    44 non-null object
(Mandíbula, Izquierdo, 35, G)    36 non-null object
(Mandíbula, Izquierdo, 36, G)    35 non-null object
(Mandíbula, Izquierdo, 37, G)    27 non-null object
(Mandíbula, Izquierdo, 38, G)    18 non-null object
dtypes: object(32)
memory usage: 15.9+ KB

In [326]:
p.replace({0.0:np.nan,9.0:np.nan}).head(20)

   Maxilar                                                                   \
   Derecho                                Izquierdo
        18  17   16   15  14  13  12   11        21  22   23   24   25   26
         G   G    G    G   G   G   G    G         G   G    G    G    G    G
0      NaN NaN  2.0  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
1      NaN NaN  NaN  1.0 NaN NaN NaN  NaN       NaN NaN  NaN  1.0  NaN  1.0
2      NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
3      NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  1.0
4      NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
5      NaN NaN  2.0  1.0 NaN NaN NaN  NaN       NaN NaN  NaN  NaN  1.0  NaN
6      NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
7      NaN NaN  NaN  NaN NaN NaN NaN  1.0       NaN NaN  NaN  NaN  NaN  NaN
8      NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
9      NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
10     NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  1.0
11     NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  1.0
12     NaN NaN  2.0  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
13     NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  2.0
14     NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
15     NaN NaN  1.0  NaN NaN NaN NaN  NaN       NaN NaN  2.0  1.0  NaN  NaN
16     NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
17     NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN
18     NaN NaN  2.0  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  3.0
19     NaN NaN  NaN  NaN NaN NaN NaN  NaN       NaN NaN  NaN  NaN  NaN  2.0

             Mandíbula                                                       \
              Derecho                                   Izquierdo
     27   28        48  47   46   45   44   43   42  41        31   32   33
      G    G         G   G    G    G    G    G    G   G         G    G    G
0   NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
1   1.0  1.0       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
2   NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
3   NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
4   NaN  NaN       NaN NaN  NaN  NaN  1.0  NaN  NaN NaN       NaN  NaN  NaN
5   NaN  1.0       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
6   NaN  NaN       1.0 NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
7   NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
8   NaN  NaN       NaN NaN  NaN  1.0  NaN  NaN  NaN NaN       NaN  NaN  NaN
9   NaN  NaN       NaN NaN  NaN  NaN  1.0  NaN  NaN NaN       NaN  NaN  1.0
10  1.0  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
11  NaN  NaN       NaN NaN  1.0  1.0  NaN  NaN  NaN NaN       NaN  NaN  NaN
12  NaN  NaN       NaN NaN  NaN  NaN  1.0  1.0  NaN NaN       NaN  1.0  1.0
13  NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       2.0  NaN  NaN
14  NaN  NaN       NaN NaN  NaN  1.0  NaN  NaN  NaN NaN       1.0  1.0  1.0
15  NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
16  NaN  NaN       NaN NaN  NaN  2.0  NaN  1.0  3.0 NaN       2.0  2.0  2.0
17  NaN  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN
18  NaN  NaN       NaN NaN  3.0  1.0  NaN  NaN  NaN NaN       NaN  NaN  NaN
19  1.0  NaN       NaN NaN  NaN  NaN  NaN  NaN  NaN NaN       NaN  NaN  NaN



     34   35   36  37  38
      G    G    G   G   G
0   NaN  NaN  NaN NaN NaN
1   NaN  NaN  NaN NaN NaN
2   NaN  NaN  NaN NaN NaN
3   NaN  NaN  NaN NaN NaN
4   2.0  NaN  NaN NaN NaN
5   1.0  NaN  NaN NaN NaN
6   NaN  NaN  NaN NaN NaN
7   NaN  NaN  NaN NaN NaN
8   NaN  NaN  NaN NaN NaN
9   NaN  NaN  1.0 NaN NaN
10  NaN  NaN  NaN NaN NaN
11  NaN  NaN  NaN NaN NaN
12  NaN  NaN  NaN NaN NaN
13  NaN  1.0  1.0 NaN NaN
14  1.0  NaN  NaN NaN NaN
15  1.0  NaN  NaN NaN NaN
16  1.0  1.0  NaN NaN NaN
17  NaN  NaN  NaN NaN NaN
18  2.0  NaN  NaN NaN NaN
19  NaN  NaN  NaN NaN NaN

In [333]:
n_dientes_tot.join(p.replace({0.0:np.nan,9.0:np.nan}))

           N° dientes                    suma_dientes Maxilar                 \
   Unnamed: 6_level_1 Unnamed: 7_level_1              Derecho
   Unnamed: 6_level_2 Unnamed: 7_level_2                   18   17   16   15
              Maxilar          Mandíbula                    G    G    G    G
0                   9                  1           10     NaN  NaN  2.0  NaN
1                  11                  4           15     NaN  NaN  NaN  1.0
2                   6                  2            8     NaN  NaN  NaN  NaN
3                  13                 16           29     NaN  NaN  NaN  NaN
4                   1                  2            3     NaN  NaN  NaN  NaN
..                ...                ...          ...     ...  ...  ...  ...
58                  2                  5            7     NaN  NaN  NaN  NaN
59                 12                 15           27     1.0  1.0  1.0  1.0
60                  0                  1            1     NaN  NaN  NaN  NaN
61                 10                 14           24     NaN  NaN  NaN  NaN
62                  7                 10           17     NaN  3.0  3.0  3.0

                                                                    Mandíbula  \
                       Izquierdo                                     Derecho
     14   13   12   11        21   22   23   24   25   26   27   28        48
      G    G    G    G         G    G    G    G    G    G    G    G         G
0   NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
1   NaN  NaN  NaN  NaN       NaN  NaN  NaN  1.0  NaN  1.0  1.0  1.0       NaN
2   NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
3   NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN       NaN
4   NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
..  ...  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...
58  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  2.0       NaN
59  1.0  1.0  NaN  NaN       NaN  NaN  1.0  1.0  1.0  2.0  2.0  1.0       1.0
60  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
61  3.0  1.0  1.0  2.0       2.0  2.0  1.0  1.0  3.0  NaN  NaN  NaN       2.0
62  2.0  NaN  2.0  NaN       NaN  NaN  NaN  1.0  NaN  NaN  1.0  NaN       NaN

                                                                               \
                                      Izquierdo
     47   46   45   44   43   42   41        31   32   33   34   35   36   37
      G    G    G    G    G    G    G         G    G    G    G    G    G    G
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  1.0  NaN  NaN  NaN       NaN  NaN  NaN  2.0  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...
58  NaN  NaN  NaN  2.0  1.0  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN
59  1.0  1.0  1.0  1.0  2.0  NaN  1.0       1.0  1.0  1.0  1.0  1.0  1.0  1.0
60  NaN  NaN  NaN  NaN  1.0  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  NaN  NaN  NaN  2.0  1.0  2.0  2.0       2.0  2.0  1.0  1.0  1.0  NaN  1.0
62  NaN  NaN  1.0  1.0  1.0  1.0  1.0       NaN  NaN  1.0  1.0  1.0  1.0  NaN

        numero_de_calculos

     38
      G
0   NaN                1.0
1   NaN                5.0
2   NaN                NaN
3   NaN                1.0
4   NaN                2.0
..  ...                ...
58  NaN                3.0
59  1.0               27.0
60  NaN                1.0
61  NaN               20.0
62  NaN               16.0

[63 rows x 36 columns]

In [15]:
# Tabla con localizaciones de calculos, puede ser vestibular(V) o lingual (L)


#this is the way to make a table just with one of the characteristics of the teeth


df_s= df_calculo.xs(('Maxilar','Derecho',18, 'S'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_s=df_s.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_s=df_s.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_s=df_s.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_s=df_s.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))

In [22]:
df_s

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
         S    S    S    S    S    S    S    S         S    S    S    S    S
0      NaN  NaN    V    0    0  NaN  NaN  NaN       NaN  NaN    0    0    0
1      NaN    0  NaN    L    0  NaN  NaN    0       NaN    0    0    L    0
2        0    0    0    0  NaN    0  NaN  NaN       NaN  NaN    0  NaN  NaN
3        0    0    0    0    0    0  NaN  NaN       NaN    0    0    0    0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59       V    V    V    V    V    V  NaN  NaN       NaN  NaN    V    V    V
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN    9    V    V    V    V         V    V    V    V    V
62     NaN    V    V    V    V  NaN    V  NaN       NaN  NaN  NaN    V  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
      S    S    S         S    S    S    S    S    S    S    S         S    S
0     0    0    0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN    0
1     L    L    L       NaN    0    0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN         0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3     V    0    0         0    0    0    0    0    0    0    0         0    0
4     9  NaN  NaN       NaN  NaN  NaN  NaN    L  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58    0  NaN    L       NaN  NaN  NaN  NaN    V    L  NaN  NaN       NaN  NaN
59    V    V    V         V    V    V    V    V    L  NaN    V         V    V
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN    L  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN         V  NaN    9    9    V    V    V    V         V    V
62  NaN    V  NaN       NaN  NaN    0    V    V    L    L    L       NaN  NaN

                                 cal_V cal_L

     33   34   35   36   37   38
      S    S    S    S    S    S
0   NaN  NaN  NaN  NaN  NaN  NaN     1     0
1   NaN  NaN  NaN    0    0  NaN     0     5
2   NaN  NaN  NaN  NaN  NaN    0     0     0
3     0    0    0    0    0    0     1     0
4   NaN    L  NaN  NaN  NaN  NaN     0     2
..  ...  ...  ...  ...  ...  ...   ...   ...
58    0    0    0  NaN  NaN  NaN     1     2
59    V    V    V    V    V    V    26     1
60  NaN  NaN  NaN  NaN  NaN  NaN     0     1
61    V    L    L    9    L  NaN    17     3
62    L    L    L    V  NaN  NaN    10     6

[63 rows x 34 columns]

In [19]:
# Tabla con localizaciones de calculos, puede ser vestibular(V) o lingual (L)


#this is the way to make a table just with one of the characteristics of the teeth


df_st= df_calculo.xs(('Maxilar','Derecho',18, 'S'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_st=df_st.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_st=df_st.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_st=df_st.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_st=df_st.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))

In [20]:
df_st

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
         S    S    S    S    S    S    S    S         S    S    S    S    S
0      NaN  NaN    V    0    0  NaN  NaN  NaN       NaN  NaN    0    0    0
1      NaN    0  NaN    L    0  NaN  NaN    0       NaN    0    0    L    0
2        0    0    0    0  NaN    0  NaN  NaN       NaN  NaN    0  NaN  NaN
3        0    0    0    0    0    0  NaN  NaN       NaN    0    0    0    0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59       V    V    V    V    V    V  NaN  NaN       NaN  NaN    V    V    V
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN    9    V    V    V    V         V    V    V    V    V
62     NaN    V    V    V    V  NaN    V  NaN       NaN  NaN  NaN    V  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
      S    S    S         S    S    S    S    S    S    S    S         S    S
0     0    0    0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN    0
1     L    L    L       NaN    0    0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN         0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3     V    0    0         0    0    0    0    0    0    0    0         0    0
4     9  NaN  NaN       NaN  NaN  NaN  NaN    L  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58    0  NaN    L       NaN  NaN  NaN  NaN    V    L  NaN  NaN       NaN  NaN
59    V    V    V         V    V    V    V    V    L  NaN    V         V    V
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN    L  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN         V  NaN    9    9    V    V    V    V         V    V
62  NaN    V  NaN       NaN  NaN    0    V    V    L    L    L       NaN  NaN



     33   34   35   36   37   38
      S    S    S    S    S    S
0   NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN    0    0  NaN
2   NaN  NaN  NaN  NaN  NaN    0
3     0    0    0    0    0    0
4   NaN    L  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...
58    0    0    0  NaN  NaN  NaN
59    V    V    V    V    V    V
60  NaN  NaN  NaN  NaN  NaN  NaN
61    V    L    L    9    L  NaN
62    L    L    L    V  NaN  NaN

[63 rows x 32 columns]

In [21]:
#In this way I can make a list of V location of calculos para los individuos
cal_V=[]
i=0

while i<=62:
    cal_V.append(df_st.iloc[i].apply(lambda x: np.nan if x!='V' else 1.0).count())
    i=i+1
    
    
df_s['cal_V']=cal_V



#In this way I can make a list of L location calculos para los individuos
cal_L=[]
i=0

while i<=62:
    cal_L.append(df_st.iloc[i].apply(lambda x: np.nan if x!="L" else 1.0).count())
    i=i+1
    
df_s['cal_L']=cal_L

In [27]:
df_s.iloc[:,32:]

   cal_V cal_L



0      1     0
1      0     5
2      0     0
3      1     0
4      0     2
..   ...   ...
58     1     2
59    26     1
60     0     1
61    17     3
62    10     6

[63 rows x 2 columns]

In [30]:
trial=pd.read_csv('//home/jorgemsr123/Desktop/Pavita/tabla_calculos_informacion_importante', header=[0,1,2,3])

In [31]:
trial

   Unnamed: 0_level_0              Sitio                   Rasgo  \
   Unnamed: 0_level_1 Unnamed: 0_level_1      Unnamed: 2_level_1
   Unnamed: 0_level_2 Unnamed: 0_level_2      Unnamed: 2_level_2
   Unnamed: 0_level_3 Unnamed: 0_level_3      Unnamed: 2_level_3
0                   0   01 Palma Plana           Rasgo L-20 (II)
1                   1     02 Palma Torre             B-5 Tumba 2
2                   2     02 Palma Torre      Rasgo 05 cuadro 29
3                   3      09 El Refugio   Salv. 1 Tumba 2 Ind 1
4                   4      09 El Refugio  Salv. 44 Tumba 2 Ind 1
..                ...                ...                     ...
58                 58            El Edén         Rasgo 28, Ind 1
59                 59            El Edén         Rasgo 28, Ind 2
60                 60            El Edén         Rasgo 28, Ind 3
61                 61            El Edén         Rasgo 29, Ind 1
62                 62            El Edén         Rasgo 29, Ind 2

              Periodo               Sexo               Edad  \
   Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
   Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2
   Unnamed: 3_level_3 Unnamed: 4_level_3 Unnamed: 5_level_3
0                 4.1                  M              24-30
1                 4.2                  F              20-24
2                 4.2                  F              16-20
3                 4.2                  F              24-30
4                 4.1                  F              35-40
..                ...                ...                ...
58                4.0                  F              35-40
59                4.0                  F              24-30
60                4.0                  M                >50
61                4.0                  M              40-50
62                4.0                  F              35-40

           N° dientes                          suma_dientes  \
   Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
   Unnamed: 6_level_2 Unnamed: 7_level_2 Unnamed: 8_level_2
              Maxilar          Mandíbula Unnamed: 8_level_3
0                   9                  1                 10
1                  11                  4                 15
2                   6                  2                  8
3                  13                 16                 29
4                   1                  2                  3
..                ...                ...                ...
58                  2                  5                  7
59                 12                 15                 27
60                  0                  1                  1
61                 10                 14                 24
62                  7                 10                 17

   numero_de_calculos numero_de_dientes_no_obs porcentaje_dientes_con_calculo  \
   Unnamed: 9_level_1      Unnamed: 10_level_1            Unnamed: 11_level_1
   Unnamed: 9_level_2      Unnamed: 10_level_2            Unnamed: 11_level_2
   Unnamed: 9_level_3      Unnamed: 10_level_3            Unnamed: 11_level_3
0                   1                        0                       0.100000
1                   5                        0                       0.333333
2                   0                        0                       0.000000
3                   1                        0                       0.034483
4                   2                        1                       1.000000
..                ...                      ...                            ...
58                  3                        0                       0.428571
59                 27                        0                       1.000000
60                  1                        0                       1.000000
61                 20                        4                       1.000000
62                 16                        0                       0.941176

               cal_G_1             cal_G_2             cal_G_3  \
   Unnamed: 12_level_1 Unnamed: 13_level_1 Unnamed: 14_level_1
   Unnamed: 12_level_2 Unnamed: 13_level_2 Unnamed: 14_level_2
   Unnamed: 12_level_3 Unnamed: 13_level_3 Unnamed: 14_level_3
0                    0                   1                   0
1                    5                   0                   0
2                    0                   0                   0
3                    1                   0                   0
4                    1                   1                   0
..                 ...                 ...                 ...
58                   1                   2                   0
59                  24                   3                   0
60                   1                   0                   0
61                   9                   9                   2
62                  11                   2                   3

                 cal_V               cal_L
   Unnamed: 15_level_1 Unnamed: 16_level_1
   Unnamed: 15_level_2 Unnamed: 16_level_2
   Unnamed: 15_level_3 Unnamed: 16_level_3
0                    1                   0
1                    0                   5
2                    0                   0
3                    1                   0
4                    0                   2
..                 ...                 ...
58                   1                   2
59                  26                   1
60                   0                   1
61                  17                   3
62                  10                   6

[63 rows x 17 columns]

In [41]:
trial_1=df_calculo.iloc[:,8:]

In [42]:
trial_1

   Maxilar                                                                   \
   Derecho
        18        17        16        15        14        13        12
         G    S    G    S    G    S    G    S    G    S    G    S    G    S
0      NaN  NaN  NaN  NaN  2.0    V  0.0    0  0.0    0  NaN  NaN  NaN  NaN
1      NaN  NaN  0.0    0  NaN  NaN  1.0    L  0.0    0  NaN  NaN  NaN  NaN
2      0.0    0  0.0    0  0.0    0  0.0    0  NaN  NaN  0.0    0  NaN  NaN
3      0.0    0  0.0    0  0.0    0  0.0    0  0.0    0  0.0    0  NaN  NaN
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
59     1.0    V  1.0    V  1.0    V  1.0    V  1.0    V  1.0    V  NaN  NaN
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  NaN  NaN  NaN  9.0    9  3.0    V  1.0    V  1.0    V
62     NaN  NaN  3.0    V  3.0    V  3.0    V  2.0    V  NaN  NaN  2.0    V

                                                                               \
             Izquierdo
     11             21        22        23        24        25        26
      G    S         G    S    G    S    G    S    G    S    G    S    G    S
0   NaN  NaN       NaN  NaN  NaN  NaN  0.0    0  0.0    0  0.0    0  0.0    0
1   0.0    0       NaN  NaN  0.0    0  0.0    0  1.0    L  0.0    0  1.0    L
2   NaN  NaN       NaN  NaN  NaN  NaN  0.0    0  NaN  NaN  NaN  NaN  NaN  NaN
3   NaN  NaN       NaN  NaN  0.0    0  0.0    0  0.0    0  0.0    0  1.0    V
4   NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  9.0    9
..  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
58  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.0    0
59  NaN  NaN       NaN  NaN  NaN  NaN  1.0    V  1.0    V  1.0    V  2.0    V
60  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  2.0    V       2.0    V  2.0    V  1.0    V  1.0    V  3.0    V  NaN  NaN
62  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  1.0    V  NaN  NaN  NaN  NaN

                       Mandíbula                                               \
                        Derecho
     27        28             48        47        46        45        44
      G    S    G    S         G    S    G    S    G    S    G    S    G    S
0   0.0    0  0.0    0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   1.0    L  1.0    L       NaN  NaN  0.0    0  0.0    0  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN       0.0    0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   0.0    0  0.0    0       0.0    0  0.0    0  0.0    0  0.0    0  0.0    0
4   NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0    L
..  ...  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
58  NaN  NaN  2.0    L       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  2.0    V
59  2.0    V  1.0    V       1.0    V  1.0    V  1.0    V  1.0    V  1.0    V
60  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  NaN  NaN  NaN  NaN       2.0    V  NaN  NaN  9.0    9  9.0    9  2.0    V
62  1.0    V  NaN  NaN       NaN  NaN  NaN  NaN  0.0    0  1.0    V  1.0    V

                                                                               \
                                 Izquierdo
     43        42        41             31        32        33        34
      G    S    G    S    G    S         G    S    G    S    G    S    G    S
0   NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  0.0    0  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   0.0    0  0.0    0  0.0    0       0.0    0  0.0    0  0.0    0  0.0    0
4   NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  2.0    L
..  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...
58  1.0    L  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  0.0    0  0.0    0
59  2.0    L  NaN  NaN  1.0    V       1.0    V  1.0    V  1.0    V  1.0    V
60  1.0    L  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  1.0    V  2.0    V  2.0    V       2.0    V  2.0    V  1.0    V  1.0    L
62  1.0    L  1.0    L  1.0    L       NaN  NaN  NaN  NaN  1.0    L  1.0    L



     35        36        37        38
      G    S    G    S    G    S    G    S
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  0.0    0  0.0    0  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN  0.0    0
3   0.0    0  0.0    0  0.0    0  0.0    0
4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...  ...
58  0.0    0  NaN  NaN  NaN  NaN  NaN  NaN
59  1.0    V  1.0    V  1.0    V  1.0    V
60  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  1.0    L  9.0    9  1.0    L  NaN  NaN
62  1.0    L  1.0    V  NaN  NaN  NaN  NaN

[63 rows x 64 columns]

In [72]:
cal_V=[]
i=0

while i<=62:
    cal_V.append(df_st.iloc[i].apply(lambda x: np.nan if x!='V' else 1.0).count())
    i=i+1

In [57]:
cal_2_V

[]

In [76]:
trial_1.iloc[0].apply(lambda x: 1 if (x=='V') else np.nan).head(20)

Maxilar  Derecho    18  G    NaN
                        S    NaN
                    17  G    NaN
                        S    NaN
                    16  G    NaN
                        S    1.0
                    15  G    NaN
                        S    NaN
                    14  G    NaN
                        S    NaN
                    13  G    NaN
                        S    NaN
                    12  G    NaN
                        S    NaN
                    11  G    NaN
                        S    NaN
         Izquierdo  21  G    NaN
                        S    NaN
                    22  G    NaN
                        S    NaN
Name: 0, dtype: float64

In [77]:
t_2=pd.DataFrame()

In [81]:
t_2['18']=df_calculo.xs(('Maxilar','Derecho',18, 'S'), axis=1, level=[0,1,2,3]).astype(str) + df_calculo.xs(('Maxilar','Derecho',18, 'S'), axis=1, level=[0,1,2,3]).astype(str)

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [92]:
(df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3]).astype(str)).str.cat(df_calculo.xs(('Maxilar','Derecho',18, 'S'), axis=1, level=[0,1,2,3]).astype(str), sep='')

AttributeError: 'DataFrame' object has no attribute 'str'

In [103]:
a=(df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3]).astype(str))
a.columns='18 G'

TypeError: Index(...) must be called with a collection of some kind, '18 G' was passed

In [97]:
b=df_calculo.xs(('Maxilar','Derecho',18, 'S'), axis=1, level=[0,1,2,3]).astype(str)

In [99]:
a.str.cat(b, sep=(''))

AttributeError: 'DataFrame' object has no attribute 'str'

In [106]:
# Tabla con localizaciones de calculos, puede ser vestibular(V) o lingual (L)


#this is the way to make a table just with one of the characteristics of the teeth


t_2= df_calculo.xs(('Maxilar','Derecho',18, 'S'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    t_2=t_2.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    t_2=t_2.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    t_2=t_2.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    t_2=t_2.join(df_calculo.xs((place,side,num, 'S'), axis=1, level=[0,1,2,3]))

In [116]:
fox x in df_calculo.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3]:
          print(1)

SyntaxError: invalid syntax (<ipython-input-116-cf6c4f55b392>, line 1)

In [118]:
# read caries spreed sheet

df_caries=pd.read_excel('//home/jorgemsr123/Desktop/Pavita/Viviana_Datos_Tesis.xlsx', header=[0,1,2,3], sheet_name='CARIES')

In [119]:
df_caries

                Sitio              Corte                   Rasgo  \
   Unnamed: 0_level_1 Unnamed: 1_level_1      Unnamed: 2_level_1
   Unnamed: 0_level_2 Unnamed: 1_level_2      Unnamed: 2_level_2
   Unnamed: 0_level_3 Unnamed: 1_level_3      Unnamed: 2_level_3
0    01 Palma Plana                  NaN         Rasgo L-20 (II)
1      02 Palma Torre                NaN             B-5 Tumba 2
2      02 Palma Torre                C10      Rasgo 05 cuadro 29
3       09 El Refugio                NaN   Salv. 1 Tumba 2 Ind 1
4       09 El Refugio                NaN  Salv. 44 Tumba 2 Ind 1
..                ...                ...                     ...
58            El Edén                NaN         Rasgo 28, Ind 1
59            El Edén                NaN         Rasgo 28, Ind 2
60            El Edén                NaN         Rasgo 28, Ind 3
61            El Edén                NaN         Rasgo 29, Ind 1
62            El Edén                NaN         Rasgo 29, Ind 2

              Periodo               Sexo               Edad  \
   Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
   Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2
   Unnamed: 3_level_3 Unnamed: 4_level_3 Unnamed: 5_level_3
0                 4.1                  M              24-30
1                 4.2                  F              20-24
2                 4.2                  F              16-20
3                 4.2                  F              24-30
4                 4.1                  F              35-40
..                ...                ...                ...
58                4.0                  F              35-40
59                4.0                  F              24-30
60                4.0                  M                >50
61                4.0                  M              40-50
62                4.0                  F              35-40

           N° dientes                    Maxilar                           \
   Unnamed: 6_level_1 Unnamed: 7_level_1 Derecho
   Unnamed: 6_level_2 Unnamed: 7_level_2      18        17        16
                 max.               Man.       P    L    P    L    P    L
0                   9                  1     NaN  NaN  NaN  NaN  2.0  1.0
1                  11                  4     NaN  NaN  1.0  1.0  NaN  NaN
2                   6                  2     1.0  1.0  1.0  1.0  1.0  1.0
3                  13                 16     1.0  1.0  0.0  0.0  0.0  0.0
4                   1                  2     NaN  NaN  NaN  NaN  NaN  NaN
..                ...                ...     ...  ...  ...  ...  ...  ...
58                  2                  5     NaN  NaN  NaN  NaN  NaN  NaN
59                 12                 15     2.0  1.0  1.0  1.0  2.0  1.0
60                  0                  1     NaN  NaN  NaN  NaN  NaN  NaN
61                 10                 14     NaN  NaN  NaN  NaN  NaN  NaN
62                  7                 10     NaN  NaN  0.0  0.0  0.0  0.0

                                                                               \
                                                     Izquierdo
     15        14        13        12        11             21        22
      P    L    P    L    P    L    P    L    P    L         P    L    P    L
0   0.0  0.0  1.0  4.0  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN
1   0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN  0.0  0.0       NaN  NaN  0.0  0.0
2   0.0  0.0  NaN  NaN  0.0  0.0  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN
3   0.0  0.0  1.0  1.0  0.0  0.0  NaN  NaN  NaN  NaN       NaN  NaN  0.0  0.0
4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...
58  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN
59  0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN
60  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN
61  2.0  1.0  0.0  7.0  0.0  7.0  0.0  7.0  0.0  7.0       1.0  6.0  0.0  7.0
62  0.0  0.0  0.0  0.0  NaN  NaN  0.0  0.0  NaN  NaN       NaN  NaN  NaN  NaN

                                                               Mandíbula       \
                                                                Derecho
     23        24        25        26        27        28             48
      P    L    P    L    P    L    P    L    P    L    P    L         P    L
0   0.0  0.0  0.0  0.0  0.0  0.0  2.0  2.0  0.0  0.0  0.0  0.0       NaN  NaN
1   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0       NaN  NaN
2   0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0.0  0.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0       1.0  1.0
4   NaN  NaN  NaN  NaN  NaN  NaN  3.0  1.0  NaN  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  NaN  NaN  NaN  NaN  NaN  NaN  1.0  1.0  NaN  NaN  2.0  1.0       NaN  NaN
59  0.0  0.0  1.0  4.0  1.0  4.0  2.0  1.0  1.0  6.0  1.0  6.0       3.0  1.0
60  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
61  0.0  7.0  0.0  7.0  0.0  7.0  NaN  NaN  NaN  NaN  NaN  NaN       1.0  1.0
62  NaN  NaN  0.0  0.0  NaN  NaN  NaN  NaN  1.0  1.0  NaN  NaN       NaN  NaN

                                                                          \

     47        46        45        44        43        42        41
      P    L    P    L    P    L    P    L    P    L    P    L    P    L
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   1.0  1.0  1.0  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   3.0  1.0  2.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   NaN  NaN  NaN  NaN  NaN  NaN  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
58  NaN  NaN  NaN  NaN  NaN  NaN  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
59  3.0  1.0  1.0  4.0  0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN  0.0  0.0
60  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.0  0.0  NaN  NaN  NaN  NaN
61  NaN  NaN  4.0  8.0  4.0  8.0  0.0  7.0  0.0  0.0  0.0  0.0  0.0  0.0
62  NaN  NaN  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                                                                               \
   Izquierdo
          31        32        33        34        35        36        37
           P    L    P    L    P    L    P    L    P    L    P    L    P    L
0        NaN  NaN  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  1.0  0.0    0
2        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  2.0  1.0    1
4        NaN  NaN  NaN  NaN  NaN  NaN  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN
..       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
58       NaN  NaN  NaN  NaN  1.0  6.0  0.0  0.0  1.0  4.0  NaN  NaN  NaN  NaN
59       0.0  0.0  0.0  0.0  0.0  0.0  1.0  4.0  1.0  6.0  1.0  2.0  2.0    1
60       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  4.0  8.0  2.0    6
62       NaN  NaN  NaN  NaN  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  NaN  NaN



     38
      P    L
0   NaN  NaN
1   NaN  NaN
2   0.0  0.0
3   3.0  1.0
4   NaN  NaN
..  ...  ...
58  NaN  NaN
59  1.0  1.0
60  NaN  NaN
61  NaN  NaN
62  NaN  NaN

[63 rows x 72 columns]

In [120]:
trial_c=pd.read_csv('//home/jorgemsr123/Desktop/Pavita/tabla_caries_informacion_importante', header=[0,1,2,3])

In [121]:
trial_c

   Unnamed: 0_level_0              Sitio                   Rasgo  \
   Unnamed: 0_level_1 Unnamed: 0_level_1      Unnamed: 2_level_1
   Unnamed: 0_level_2 Unnamed: 0_level_2      Unnamed: 2_level_2
   Unnamed: 0_level_3 Unnamed: 0_level_3      Unnamed: 2_level_3
0                   0   01 Palma Plana           Rasgo L-20 (II)
1                   1     02 Palma Torre             B-5 Tumba 2
2                   2     02 Palma Torre      Rasgo 05 cuadro 29
3                   3      09 El Refugio   Salv. 1 Tumba 2 Ind 1
4                   4      09 El Refugio  Salv. 44 Tumba 2 Ind 1
..                ...                ...                     ...
58                 58            El Edén         Rasgo 28, Ind 1
59                 59            El Edén         Rasgo 28, Ind 2
60                 60            El Edén         Rasgo 28, Ind 3
61                 61            El Edén         Rasgo 29, Ind 1
62                 62            El Edén         Rasgo 29, Ind 2

              Periodo               Sexo               Edad  \
   Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
   Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2
   Unnamed: 3_level_3 Unnamed: 4_level_3 Unnamed: 5_level_3
0                 4.1                  M              24-30
1                 4.2                  F              20-24
2                 4.2                  F              16-20
3                 4.2                  F              24-30
4                 4.1                  F              35-40
..                ...                ...                ...
58                4.0                  F              35-40
59                4.0                  F              24-30
60                4.0                  M                >50
61                4.0                  M              40-50
62                4.0                  F              35-40

           N° dientes                          suma_dientes  \
   Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
   Unnamed: 6_level_2 Unnamed: 7_level_2 Unnamed: 8_level_2
              Maxilar          Mandíbula Unnamed: 8_level_3
0                   9                  1                 10
1                  11                  4                 15
2                   6                  2                  8
3                  13                 16                 29
4                   1                  2                  3
..                ...                ...                ...
58                  2                  5                  7
59                 12                 15                 27
60                  0                  1                  1
61                 10                 14                 24
62                  7                 10                 17

     numero_de_caries numero_de_dientes_caries_no_obs  \
   Unnamed: 9_level_1             Unnamed: 10_level_1
   Unnamed: 9_level_2             Unnamed: 10_level_2
   Unnamed: 9_level_3             Unnamed: 10_level_3
0                   3                               0
1                   4                               0
2                   3                               0
3                  10                               0
4                   1                               0
..                ...                             ...
58                  4                               0
59                 16                               0
60                  0                               0
61                  7                               0
62                  2                               0

   porcentaje_dientes_con_caries             car_P_1             car_P_2  \
             Unnamed: 11_level_1 Unnamed: 12_level_1 Unnamed: 13_level_1
             Unnamed: 11_level_2 Unnamed: 12_level_2 Unnamed: 13_level_2
             Unnamed: 11_level_3 Unnamed: 12_level_3 Unnamed: 13_level_3
0                       0.300000                   1                   2
1                       0.266667                   4                   0
2                       0.375000                   3                   0
3                       0.344828                   7                   1
4                       0.333333                   0                   0
..                           ...                 ...                 ...
58                      0.571429                   3                   1
59                      0.592593                  10                   4
60                      0.000000                   0                   0
61                      0.291667                   2                   2
62                      0.117647                   2                   0

               car_P_3             car_P_4 numero_de_caries_localizadas  \
   Unnamed: 14_level_1 Unnamed: 15_level_1          Unnamed: 16_level_1
   Unnamed: 14_level_2 Unnamed: 15_level_2          Unnamed: 16_level_2
   Unnamed: 14_level_3 Unnamed: 15_level_3          Unnamed: 16_level_3
0                    0                   0                            3
1                    0                   0                            4
2                    0                   0                            3
3                    2                   0                           10
4                    1                   0                            1
..                 ...                 ...                          ...
58                   0                   0                            4
59                   2                   0                           16
60                   0                   0                            0
61                   0                   3                           16
62                   0                   0                            2

   numero_de_dientes_caries_no_loc porcentaje_dientes_con_caries_localizadas  \
               Unnamed: 17_level_1                       Unnamed: 18_level_1
               Unnamed: 17_level_2                       Unnamed: 18_level_2
               Unnamed: 17_level_3                       Unnamed: 18_level_3
0                                0                                  0.300000
1                                0                                  0.266667
2                                0                                  0.375000
3                                0                                  0.344828
4                                0                                  0.333333
..                             ...                                       ...
58                               0                                  0.571429
59                               0                                  0.592593
60                               0                                  0.000000
61                               0                                  0.666667
62                               0                                  0.117647

               car_L_1             car_L_2             car_L_3  \
   Unnamed: 19_level_1 Unnamed: 20_level_1 Unnamed: 21_level_1
   Unnamed: 19_level_2 Unnamed: 20_level_2 Unnamed: 21_level_2
   Unnamed: 19_level_3 Unnamed: 20_level_3 Unnamed: 21_level_3
0                    1                   1                   0
1                    4                   0                   0
2                    3                   0                   0
3                    8                   2                   0
4                    1                   0                   0
..                 ...                 ...                 ...
58                   2                   0                   0
59                   8                   1                   0
60                   0                   0                   0
61                   2                   0                   0
62                   2                   0                   0

               car_L_4             car_L_5             car_L_6  \
   Unnamed: 22_level_1 Unnamed: 23_level_1 Unnamed: 24_level_1
   Unnamed: 22_level_2 Unnamed: 23_level_2 Unnamed: 24_level_2
   Unnamed: 22_level_3 Unnamed: 23_level_3 Unnamed: 24_level_3
0                    1                   0                   0
1                    0                   0                   0
2                    0                   0                   0
3                    0                   0                   0
4                    0                   0                   0
..                 ...                 ...                 ...
58                   1                   0                   1
59                   4                   0                   3
60                   0                   0                   0
61                   0                   0                   2
62                   0                   0                   0

               car_L_7             car_L_8
   Unnamed: 25_level_1 Unnamed: 26_level_1
   Unnamed: 25_level_2 Unnamed: 26_level_2
   Unnamed: 25_level_3 Unnamed: 26_level_3
0                    0                   0
1                    0                   0
2                    0                   0
3                    0                   0
4                    0                   0
..                 ...                 ...
58                   0                   0
59                   0                   0
60                   0                   0
61                   9                   3
62                   0                   0

[63 rows x 27 columns]

In [215]:
trial_d=pd.read_csv('//home/jorgemsr123/Desktop/Pavita/tabla_abscesos_informacion_importante', header=[0])

In [216]:
trial_d

,Unnamed: 0,"('Sitio', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2', 'Unnamed: 0_level_3')","('Rasgo', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2', 'Unnamed: 2_level_3')","('Periodo', 'Unnamed: 3_level_1', 'Unnamed: 3_level_2', 'Unnamed: 3_level_3')","('Sexo', 'Unnamed: 4_level_1', 'Unnamed: 4_level_2', 'Unnamed: 4_level_3')","('Edad', 'Unnamed: 5_level_1', 'Unnamed: 5_level_2', 'Unnamed: 5_level_3')","('N° dientes', 'Unnamed: 6_level_1', 'Unnamed: 6_level_2', 'Maxilar')","('N° dientes', 'Unnamed: 7_level_1', 'Unnamed: 7_level_2', 'Mandíbula')","('suma_dientes', '', '', '')","('ds_G_0', '', '')","('ds_G_1', '', '')","('ds_G_2', '', '')","('ds_G_3', '', '')","('ds_G_4', '', '')","('ds_G_5', '', '')","('ds_G_6', '', '')","('ds_G_7', '', '')","('ds_G_8', '', '')","('total_#_ds', '', '')"
0,0,01 Palma Plana,Rasgo L-20 (II),4.1,M,24-30,9,1,10,1,5,4,0,0,0,0,0,0,10
1,1,02 Palma Torre,B-5 Tumba 2,4.2,F,20-24,11,4,15,3,1,8,1,1,1,0,0,0,15
2,2,02 Palma Torre,Rasgo 05 cuadro 29,4.2,F,16-20,6,2,8,4,3,1,0,0,0,0,0,0,8
3,3,09 El Refugio,Salv. 1 Tumba 2 Ind 1,4.2,F,24-30,13,16,29,2,11,9,5,2,0,0,0,0,29
4,4,09 El Refugio,Salv. 44 Tumba 2 Ind 1,4.1,F,35-40,1,2,3,1,1,0,1,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,58,El Edén,"Rasgo 28, Ind 1",4.0,F,35-40,2,5,7,1,0,0,2,0,4,0,0,0,7
59,59,El Edén,"Rasgo 28, Ind 2",4.0,F,24-30,12,15,27,3,6,4,11,3,0,0,0,0,27
60,60,El Edén,"Rasgo 28, Ind 3",4.0,M,>50,0,1,1,0,0,0,0,0,0,1,0,0,1
61,61,El Edén,"Rasgo 29, Ind 1",4.0,M,40-50,10,14,24,1,0,0,1,2,10,7,0,3,24
62,62,El Edén,"Rasgo 29, Ind 2",4.0,F,35-40,7,10,17,1,0,5,2,9,0,0,0,0,17

In [176]:
# read calculo spreed sheet

df_desgaste_s=pd.read_excel('//home/jorgemsr123/Desktop/Pavita/Viviana_Datos_Tesis.xlsx',header=[1,2,3], sheet_name='DESGASTE SMITH')

In [177]:
df_desgaste_s

                Sitio              Corte                   Rasgo  \
   Unnamed: 0_level_1 Unnamed: 1_level_1      Unnamed: 2_level_1
   Unnamed: 0_level_2 Unnamed: 1_level_2      Unnamed: 2_level_2
0    01 Palma Plana                  NaN         Rasgo L-20 (II)
1      02 Palma Torre                NaN            B-5, Tumba 2
2      02 Palma Torre                C10      Rasgo 05 cuadro 29
3       09 El Refugio                NaN   Salv. 1 Tumba 2 Ind 1
4       09 El Refugio                NaN  Salv. 44 Tumba 2 Ind 1
..                ...                ...                     ...
58            El Edén                NaN         Rasgo 28, Ind 1
59            El Edén                NaN         Rasgo 28, Ind 2
60            El Edén                NaN         Rasgo 28, Ind 3
61            El Edén                NaN         Rasgo 29, Ind 1
62            El Edén                NaN         Rasgo 29, Ind 2

              Periodo               Sexo               Edad  \
   Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
   Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2
0                 4.1                  M              24-30
1                 4.2                  F              20-24
2                 4.2                  F              16-20
3                 4.2                  F              24-30
4                 4.1                  F              35-40
..                ...                ...                ...
58                4.0                  F              35-40
59                4.0                  F              24-30
60                4.0                  M                >50
61                4.0                  M              40-50
62                4.0                  F              35-40

           N° dientes                    Maxilar                           \
   Unnamed: 6_level_1 Unnamed: 7_level_1 Derecho
              Maxilar          Mandíbula      18   17   16   15   14   13
0                   9                  1     NaN  NaN  2.0  1.0  1.0  NaN
1                  11                  4     NaN  2.0  NaN  4.0  3.0  2.0
2                   6                  2     0.0  1.0  2.0  1.0  NaN  0.0
3                  13                 16     1.0  1.0  4.0  2.0  3.0  2.0
4                   1                  2     NaN  NaN  NaN  NaN  NaN  NaN
..                ...                ...     ...  ...  ...  ...  ...  ...
58                  2                  5     NaN  NaN  NaN  NaN  NaN  NaN
59                 12                 15     1.0  2.0  3.0  1.0  1.0  3.0
60                  0                  1     NaN  NaN  NaN  NaN  NaN  NaN
61                 10                 14     NaN  NaN  NaN  0.0  5.0  6.0
62                  7                 10     NaN  0.0  4.0  4.0  2.0  NaN

                                                          Mandíbula            \
             Izquierdo                                     Derecho
     12   11        21   22   23   24   25   26   27   28        48   47   46
0   NaN  NaN       NaN  NaN  2.0  1.0  1.0  2.0  1.0  0.0       NaN  NaN  NaN
1   2.0  0.0       NaN  2.0  0.0  NaN  NaN  5.0  2.0  2.0       NaN  2.0  0.0
2   NaN  NaN       NaN  NaN  0.0  NaN  NaN  NaN  NaN  NaN         0  NaN  NaN
3   NaN  NaN       NaN  1.0  2.0  0.0  0.0  2.0  1.0  1.0         1  1.0  4.0
4   NaN  NaN       NaN  NaN  NaN  NaN  NaN  0.0  NaN  NaN       NaN  NaN  NaN
..  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...
58  NaN  NaN       NaN  NaN  NaN  NaN  NaN  3.0  NaN  0.0       NaN  NaN  NaN
59  NaN  NaN       NaN  NaN  3.0  3.0  3.0  3.0  1.0  0.0         0  0.0  3.0
60  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN
61  6.0  6.0       6.0  6.0  5.0  5.0  6.0  NaN  NaN  NaN         3  NaN  8.0
62  4.0  NaN       NaN  NaN  NaN  2.0  NaN  NaN  4.0  NaN       NaN  NaN  4.0


                            Izquierdo
     45   44   43   42   41        31   32   33   34   35   36   37   38
0   NaN  NaN  NaN  NaN  NaN       NaN  2.0  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  2.0  1.0  NaN
2   NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0
3   2.0  3.0  2.0  2.0  3.0       3.0  2.0  3.0  1.0  1.0  2.0  1.0  1.0
4   NaN  3.0  NaN  NaN  NaN       NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...
58  NaN  5.0  5.0  NaN  NaN       NaN  NaN  5.0  3.0  5.0  NaN  NaN  NaN
59  1.0  2.0  3.0  NaN  4.0       4.0  4.0  3.0  2.0  3.0  3.0  2.0  1.0
60  NaN  NaN  6.0  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  8.0  6.0  5.0  5.0  5.0       5.0  5.0  4.0  5.0  5.0  8.0  4.0  NaN
62  3.0  2.0  4.0  3.0  4.0       NaN  NaN  4.0  2.0  2.0  4.0  NaN  NaN

[63 rows x 40 columns]

In [136]:
max_der_num=range(17,10,-1)
# ubicacion dientes maxilar derecho
# I need to give the first column to have a template, after it the join works 

max_izq_num=range(21,29,1)
#ubicacion dientes maxilar izquierdo

mand_der_num=range(48,40,-1)
## ubicacion dientes mandibular derecho

mand_izq_num=range(31,39,1)
## ubicacion dientes mandibular izquierdo

teeth_num=[max_der_num,max_izq_num, mand_der_num,mand_izq_num]
# four elements each a range given the location of some teeth

In [137]:
up_down=['Maxilar','Mandíbula']

side_maxilar=['Derecho','Izquierdo']

side_mandibular=['Derecho ','Izquierdo']

In [138]:
#this is the way to make a table just with the teeth for Desgaste Smith


df_ds= df_desgaste_s.xs(('Maxilar','Derecho',18), axis=1, level=[1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_ds=df_ds.join(df_calculo.xs((place,side,num), axis=1, level=[1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_ds=df_ds.join(df_calculo.xs((place,side,num), axis=1, level=[1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_ds=df_ds.join(df_calculo.xs((place,side,num), axis=1, level=[1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_ds=df_ds.join(df_calculo.xs((place,side,num), axis=1, level=[1,2,3]))

KeyError: 'Maxilar'

In [139]:
print(df_desgaste_s.columns)

MultiIndex([(     'Sitio', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2'),
            (     'Corte', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2'),
            (     'Rasgo', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2'),
            (   'Periodo', 'Unnamed: 3_level_1', 'Unnamed: 3_level_2'),
            (      'Sexo', 'Unnamed: 4_level_1', 'Unnamed: 4_level_2'),
            (      'Edad', 'Unnamed: 5_level_1', 'Unnamed: 5_level_2'),
            ('N° dientes', 'Unnamed: 6_level_1',            'Maxilar'),
            ('N° dientes', 'Unnamed: 7_level_1',          'Mandíbula'),
            (   'Maxilar',            'Derecho',                   18),
            (   'Maxilar',            'Derecho',                   17),
            (   'Maxilar',            'Derecho',                   16),
            (   'Maxilar',            'Derecho',                   15),
            (   'Maxilar',            'Derecho',                   14),
            (   'Maxilar',            'Derecho',                   13),
            (   'Maxilar',            'Derecho',                   12),
            (   'Maxilar',            'Derecho',                   11),
            (   'Maxilar',          'Izquierdo',                   21),
            (   'Maxilar',          'Izquierdo',                   22),
            (   'Maxilar',          'Izquierdo',                   23),
            (   'Maxilar',          'Izquierdo',                   24),
            (   'Maxilar',          'Izquierdo',                   25),
            (   'Maxilar',          'Izquierdo',                   26),
            (   'Maxilar',          'Izquierdo',                   27),
            (   'Maxilar',          'Izquierdo',                   28),
            ( 'Mandíbula',           'Derecho ',                   48),
            ( 'Mandíbula',           'Derecho ',                   47),
            ( 'Mandíbula',           'Derecho ',                   46),
            ( 'Mandíbula',           'Derecho ',                   45),
            ( 'Mandíbula',           'Derecho ',                   44),
            ( 'Mandíbula',           'Derecho ',                   43),
            ( 'Mandíbula',           'Derecho ',                   42),
            ( 'Mandíbula',           'Derecho ',                   41),
            ( 'Mandíbula',          'Izquierdo',                   31),
            ( 'Mandíbula',          'Izquierdo',                   32),
            ( 'Mandíbula',          'Izquierdo',                   33),
            ( 'Mandíbula',          'Izquierdo',                   34),
            ( 'Mandíbula',          'Izquierdo',                   35),
            ( 'Mandíbula',          'Izquierdo',                   36),
            ( 'Mandíbula',          'Izquierdo',                   37),
            ( 'Mandíbula',          'Izquierdo',                   38)],
           )

In [155]:
df_ds= df_desgaste_s.xs(('Maxilar','Derecho',18), axis=1, level=[0,1,2])

In [149]:
df_ds

0     NaN
1     NaN
2     0.0
3     1.0
4     NaN
     ...
58    NaN
59    1.0
60    NaN
61    NaN
62    NaN
Name: (Maxilar, Derecho, 18), Length: 63, dtype: float64

In [178]:
#selection of all the teeth

df_ds=df_desgaste_s.iloc[:,8:]

In [179]:
df_ds

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
0      NaN  NaN  2.0  1.0  1.0  NaN  NaN  NaN       NaN  NaN  2.0  1.0  1.0
1      NaN  2.0  NaN  4.0  3.0  2.0  2.0  0.0       NaN  2.0  0.0  NaN  NaN
2      0.0  1.0  2.0  1.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      1.0  1.0  4.0  2.0  3.0  2.0  NaN  NaN       NaN  1.0  2.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  2.0  3.0  1.0  1.0  3.0  NaN  NaN       NaN  NaN  3.0  3.0  3.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  0.0  5.0  6.0  6.0  6.0       6.0  6.0  5.0  5.0  6.0
62     NaN  0.0  4.0  4.0  2.0  NaN  4.0  NaN       NaN  NaN  NaN  2.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
0   2.0  1.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  2.0
1   5.0  2.0  2.0       NaN  2.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN         0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   2.0  1.0  1.0         1  1.0  4.0  2.0  3.0  2.0  2.0  3.0       3.0  2.0
4   0.0  NaN  NaN       NaN  NaN  NaN  NaN  3.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  3.0  NaN  0.0       NaN  NaN  NaN  NaN  5.0  5.0  NaN  NaN       NaN  NaN
59  3.0  1.0  0.0         0  0.0  3.0  1.0  2.0  3.0  NaN  4.0       4.0  4.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  6.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN         3  NaN  8.0  8.0  6.0  5.0  5.0  5.0       5.0  5.0
62  NaN  4.0  NaN       NaN  NaN  4.0  3.0  2.0  4.0  3.0  4.0       NaN  NaN



     33   34   35   36   37   38
0   NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  2.0  1.0  NaN
2   NaN  NaN  NaN  NaN  NaN  1.0
3   3.0  1.0  1.0  2.0  1.0  1.0
4   NaN  1.0  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...
58  5.0  3.0  5.0  NaN  NaN  NaN
59  3.0  2.0  3.0  3.0  2.0  1.0
60  NaN  NaN  NaN  NaN  NaN  NaN
61  4.0  5.0  5.0  8.0  4.0  NaN
62  4.0  2.0  2.0  4.0  NaN  NaN

[63 rows x 32 columns]

In [180]:
#table for trial or process

df_dst=df_desgaste_s.iloc[:,8:]

In [181]:
#In this way I can make a list of grade 0 desgaste de Smith para los individuos
ds_G_0=[]
i=0

while i<=62:
    ds_G_0.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=0.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_0']=ds_G_0


#In this way I can make a list of grade 1 desgaste de Smith para los individuos
ds_G_1=[]
i=0

while i<=62:
    ds_G_1.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=1.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_1']=ds_G_1

#In this way I can make a list of grade 2 desgaste de Smith para los individuos
ds_G_2=[]
i=0

while i<=62:
    ds_G_2.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=2.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_2']=ds_G_2

#In this way I can make a list of grade 3 desgaste de Smith para los individuos
ds_G_3=[]
i=0

while i<=62:
    ds_G_3.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=3.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_3']=ds_G_3

#In this way I can make a list of grade 4 desgaste de Smith para los individuos
ds_G_4=[]
i=0

while i<=62:
    ds_G_4.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=4.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_4']=ds_G_4

#In this way I can make a list of grade 5 desgaste de Smith para los individuos
ds_G_5=[]
i=0

while i<=62:
    ds_G_5.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=5.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_5']=ds_G_5

#In this way I can make a list of grade 6 desgaste de Smith para los individuos
ds_G_6=[]
i=0

while i<=62:
    ds_G_6.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=6.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_6']=ds_G_6

#In this way I can make a list of grade 7 desgaste de Smith para los individuos
ds_G_7=[]
i=0

while i<=62:
    ds_G_7.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=7.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_7']=ds_G_7

#In this way I can make a list of grade 8 desgaste de Smith para los individuos
ds_G_8=[]
i=0

while i<=62:
    ds_G_8.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=8.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_8']=ds_G_8

In [191]:
# numero total de dientes con desgaste de Smith


ds_total=[]
i=0

while i<=62:
    ds_total.append(df_ds.iloc[i,32:].sum())
    i=i+1
    

df_ds['total_#_ds']=ds_total

In [189]:
df_ds.iloc[1,32:]

ds_G_0        3
ds_G_1        1
ds_G_2        8
ds_G_3        1
ds_G_4        1
ds_G_5        1
ds_G_6        0
ds_G_7        0
ds_G_8        0
Name: 1, dtype: object

In [192]:
df_ds

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
0      NaN  NaN  2.0  1.0  1.0  NaN  NaN  NaN       NaN  NaN  2.0  1.0  1.0
1      NaN  2.0  NaN  4.0  3.0  2.0  2.0  0.0       NaN  2.0  0.0  NaN  NaN
2      0.0  1.0  2.0  1.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      1.0  1.0  4.0  2.0  3.0  2.0  NaN  NaN       NaN  1.0  2.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  2.0  3.0  1.0  1.0  3.0  NaN  NaN       NaN  NaN  3.0  3.0  3.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  0.0  5.0  6.0  6.0  6.0       6.0  6.0  5.0  5.0  6.0
62     NaN  0.0  4.0  4.0  2.0  NaN  4.0  NaN       NaN  NaN  NaN  2.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
0   2.0  1.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  2.0
1   5.0  2.0  2.0       NaN  2.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN         0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   2.0  1.0  1.0         1  1.0  4.0  2.0  3.0  2.0  2.0  3.0       3.0  2.0
4   0.0  NaN  NaN       NaN  NaN  NaN  NaN  3.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  3.0  NaN  0.0       NaN  NaN  NaN  NaN  5.0  5.0  NaN  NaN       NaN  NaN
59  3.0  1.0  0.0         0  0.0  3.0  1.0  2.0  3.0  NaN  4.0       4.0  4.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  6.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN         3  NaN  8.0  8.0  6.0  5.0  5.0  5.0       5.0  5.0
62  NaN  4.0  NaN       NaN  NaN  4.0  3.0  2.0  4.0  3.0  4.0       NaN  NaN

                                 ds_G_0 ds_G_1 ds_G_2 ds_G_3 ds_G_4 ds_G_5  \

     33   34   35   36   37   38
0   NaN  NaN  NaN  NaN  NaN  NaN      1      5      4      0      0      0
1   NaN  NaN  NaN  2.0  1.0  NaN      3      1      8      1      1      1
2   NaN  NaN  NaN  NaN  NaN  1.0      4      3      1      0      0      0
3   3.0  1.0  1.0  2.0  1.0  1.0      2     11      9      5      2      0
4   NaN  1.0  NaN  NaN  NaN  NaN      1      1      0      1      0      0
..  ...  ...  ...  ...  ...  ...    ...    ...    ...    ...    ...    ...
58  5.0  3.0  5.0  NaN  NaN  NaN      1      0      0      2      0      4
59  3.0  2.0  3.0  3.0  2.0  1.0      3      6      4     11      3      0
60  NaN  NaN  NaN  NaN  NaN  NaN      0      0      0      0      0      0
61  4.0  5.0  5.0  8.0  4.0  NaN      1      0      0      1      2     10
62  4.0  2.0  2.0  4.0  NaN  NaN      1      0      5      2      9      0

   ds_G_6 ds_G_7 ds_G_8 total_#_ds


0       0      0      0         10
1       0      0      0         15
2       0      0      0          8
3       0      0      0         29
4       0      0      0          3
..    ...    ...    ...        ...
58      0      0      0          7
59      0      0      0         27
60      1      0      0          1
61      7      0      3         24
62      0      0      0         17

[63 rows x 42 columns]

In [193]:
#In this way I can make a list of number of teeth with desgaste de scott para los individuos
ds_G_0=[]
i=0

while i<=62:
    ds_G_0.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=0.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_0']=ds_G_0

In [217]:
trial_f=pd.read_csv('//home/jorgemsr123/Desktop/Pavita/tabla_desgaste_Scott_informacion_importante', header=[0,1,2])

In [218]:
trial_f

   Unnamed: 0_level_0              Sitio                   Rasgo  \
   Unnamed: 0_level_1 Unnamed: 0_level_1      Unnamed: 2_level_1
   Unnamed: 0_level_2 Unnamed: 0_level_2      Unnamed: 2_level_2
0                   0   01 Palma Plana           Rasgo L-20 (II)
1                   1     02 Palma Torre             B-5 Tumba 2
2                   2     02 Palma Torre      Rasgo 05 cuadro 29
3                   3      09 El Refugio   Salv. 1 Tumba 2 Ind 1
4                   4      09 El Refugio  Salv. 44 Tumba 2 Ind 1
..                ...                ...                     ...
58                 58            El Edén         Rasgo 28, Ind 1
59                 59            El Edén         Rasgo 28, Ind 2
60                 60            El Edén         Rasgo 28, Ind 3
61                 61            El Edén         Rasgo 29, Ind 1
62                 62            El Edén         Rasgo 29, Ind 2

              Periodo               Sexo               Edad  \
   Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
   Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2
0                 4.1                  M              24-30
1                 4.2                  F              20-24
2                 4.2                  F              16-20
3                 4.2                  F              24-30
4                 4.1                  F              35-40
..                ...                ...                ...
58                4.0                  F              35-40
59                4.0                  F              24-30
60                4.0                  M                >50
61                4.0                  M              40-50
62                4.0                  F              35-40

           N° dientes                       #_dientes_scott  \
   Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
              Maxilar          Mandíbula Unnamed: 8_level_2
0                   9                  1                  3
1                  11                  4                  8
2                   6                  2                  4
3                  13                 16                 11
4                   1                  2                  0
..                ...                ...                ...
58                  2                  5                  1
59                 12                 15                 10
60                  0                  1                  0
61                 10                 14                  4
62                  7                 10                  5

         #_alto_scott        #_bajo_scott
   Unnamed: 9_level_1 Unnamed: 10_level_1
   Unnamed: 9_level_2 Unnamed: 10_level_2
0                   0                   3
1                   8                   0
2                   0                   4
3                   4                   7
4                   0                   0
..                ...                 ...
58                  1                   0
59                  6                   4
60                  0                   0
61                  4                   0
62                  4                   1

[63 rows x 11 columns]

In [223]:
trial_f=pd.read_csv('//home/jorgemsr123/Desktop/Pavita/tabla_caries_informacion_importante', header=[0,3])

NameError: name 'loc' is not defined