In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
%matplotlib inline
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print(__version__) # requires version >= 1.9.0

4.5.4

In [2]:
import cufflinks as cf
init_notebook_mode(connected=True)
# For offline use
cf.go_offline()
from pandas_datareader import data, wb

import datetime

In [3]:
# show all columns 

pd.set_option('display.max_columns', None)

In [4]:
# read desgaste Smith spreed sheet

df=pd.read_excel('//home/jorgemsr123/Desktop/Pavita/Viviana_Datos_Tesis.xlsx',header=[1,2,3], sheet_name='DESGASTE SMITH')

In [5]:
df

                Sitio              Corte                   Rasgo  \
   Unnamed: 0_level_1 Unnamed: 1_level_1      Unnamed: 2_level_1
   Unnamed: 0_level_2 Unnamed: 1_level_2      Unnamed: 2_level_2
0    01 Palma Plana                  NaN         Rasgo L-20 (II)
1      02 Palma Torre                NaN            B-5, Tumba 2
2      02 Palma Torre                C10      Rasgo 05 cuadro 29
3       09 El Refugio                NaN   Salv. 1 Tumba 2 Ind 1
4       09 El Refugio                NaN  Salv. 44 Tumba 2 Ind 1
..                ...                ...                     ...
58            El Edén                NaN         Rasgo 28, Ind 1
59            El Edén                NaN         Rasgo 28, Ind 2
60            El Edén                NaN         Rasgo 28, Ind 3
61            El Edén                NaN         Rasgo 29, Ind 1
62            El Edén                NaN         Rasgo 29, Ind 2

              Periodo               Sexo               Edad  \
   Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
   Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2
0                 4.1                  M              24-30
1                 4.2                  F              20-24
2                 4.2                  F              16-20
3                 4.2                  F              24-30
4                 4.1                  F              35-40
..                ...                ...                ...
58                4.0                  F              35-40
59                4.0                  F              24-30
60                4.0                  M                >50
61                4.0                  M              40-50
62                4.0                  F              35-40

           N° dientes                    Maxilar                           \
   Unnamed: 6_level_1 Unnamed: 7_level_1 Derecho
              Maxilar          Mandíbula      18   17   16   15   14   13
0                   9                  1     NaN  NaN  2.0  1.0  1.0  NaN
1                  11                  4     NaN  2.0  NaN  4.0  3.0  2.0
2                   6                  2     0.0  1.0  2.0  1.0  NaN  0.0
3                  13                 16     1.0  1.0  4.0  2.0  3.0  2.0
4                   1                  2     NaN  NaN  NaN  NaN  NaN  NaN
..                ...                ...     ...  ...  ...  ...  ...  ...
58                  2                  5     NaN  NaN  NaN  NaN  NaN  NaN
59                 12                 15     1.0  2.0  3.0  1.0  1.0  3.0
60                  0                  1     NaN  NaN  NaN  NaN  NaN  NaN
61                 10                 14     NaN  NaN  NaN  0.0  5.0  6.0
62                  7                 10     NaN  0.0  4.0  4.0  2.0  NaN

                                                          Mandíbula            \
             Izquierdo                                     Derecho
     12   11        21   22   23   24   25   26   27   28        48   47   46
0   NaN  NaN       NaN  NaN  2.0  1.0  1.0  2.0  1.0  0.0       NaN  NaN  NaN
1   2.0  0.0       NaN  2.0  0.0  NaN  NaN  5.0  2.0  2.0       NaN  2.0  0.0
2   NaN  NaN       NaN  NaN  0.0  NaN  NaN  NaN  NaN  NaN         0  NaN  NaN
3   NaN  NaN       NaN  1.0  2.0  0.0  0.0  2.0  1.0  1.0         1  1.0  4.0
4   NaN  NaN       NaN  NaN  NaN  NaN  NaN  0.0  NaN  NaN       NaN  NaN  NaN
..  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...
58  NaN  NaN       NaN  NaN  NaN  NaN  NaN  3.0  NaN  0.0       NaN  NaN  NaN
59  NaN  NaN       NaN  NaN  3.0  3.0  3.0  3.0  1.0  0.0         0  0.0  3.0
60  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN
61  6.0  6.0       6.0  6.0  5.0  5.0  6.0  NaN  NaN  NaN         3  NaN  8.0
62  4.0  NaN       NaN  NaN  NaN  2.0  NaN  NaN  4.0  NaN       NaN  NaN  4.0


                            Izquierdo
     45   44   43   42   41        31   32   33   34   35   36   37   38
0   NaN  NaN  NaN  NaN  NaN       NaN  2.0  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  2.0  1.0  NaN
2   NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0
3   2.0  3.0  2.0  2.0  3.0       3.0  2.0  3.0  1.0  1.0  2.0  1.0  1.0
4   NaN  3.0  NaN  NaN  NaN       NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...
58  NaN  5.0  5.0  NaN  NaN       NaN  NaN  5.0  3.0  5.0  NaN  NaN  NaN
59  1.0  2.0  3.0  NaN  4.0       4.0  4.0  3.0  2.0  3.0  3.0  2.0  1.0
60  NaN  NaN  6.0  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  8.0  6.0  5.0  5.0  5.0       5.0  5.0  4.0  5.0  5.0  8.0  4.0  NaN
62  3.0  2.0  4.0  3.0  4.0       NaN  NaN  4.0  2.0  2.0  4.0  NaN  NaN

[63 rows x 40 columns]

In [6]:
#selection of all the teeth

df1=df.iloc[:,8:]

In [7]:
df1

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
0      NaN  NaN  2.0  1.0  1.0  NaN  NaN  NaN       NaN  NaN  2.0  1.0  1.0
1      NaN  2.0  NaN  4.0  3.0  2.0  2.0  0.0       NaN  2.0  0.0  NaN  NaN
2      0.0  1.0  2.0  1.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      1.0  1.0  4.0  2.0  3.0  2.0  NaN  NaN       NaN  1.0  2.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  2.0  3.0  1.0  1.0  3.0  NaN  NaN       NaN  NaN  3.0  3.0  3.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  0.0  5.0  6.0  6.0  6.0       6.0  6.0  5.0  5.0  6.0
62     NaN  0.0  4.0  4.0  2.0  NaN  4.0  NaN       NaN  NaN  NaN  2.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
0   2.0  1.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  2.0
1   5.0  2.0  2.0       NaN  2.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN         0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   2.0  1.0  1.0         1  1.0  4.0  2.0  3.0  2.0  2.0  3.0       3.0  2.0
4   0.0  NaN  NaN       NaN  NaN  NaN  NaN  3.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  3.0  NaN  0.0       NaN  NaN  NaN  NaN  5.0  5.0  NaN  NaN       NaN  NaN
59  3.0  1.0  0.0         0  0.0  3.0  1.0  2.0  3.0  NaN  4.0       4.0  4.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  6.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN         3  NaN  8.0  8.0  6.0  5.0  5.0  5.0       5.0  5.0
62  NaN  4.0  NaN       NaN  NaN  4.0  3.0  2.0  4.0  3.0  4.0       NaN  NaN



     33   34   35   36   37   38
0   NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  2.0  1.0  NaN
2   NaN  NaN  NaN  NaN  NaN  1.0
3   3.0  1.0  1.0  2.0  1.0  1.0
4   NaN  1.0  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...
58  5.0  3.0  5.0  NaN  NaN  NaN
59  3.0  2.0  3.0  3.0  2.0  1.0
60  NaN  NaN  NaN  NaN  NaN  NaN
61  4.0  5.0  5.0  8.0  4.0  NaN
62  4.0  2.0  2.0  4.0  NaN  NaN

[63 rows x 32 columns]

In [8]:
df_calculo=df1

   Maxilar                                                                   \
   Derecho                                    Izquierdo
        18   17   16   15   14   13   12   11        21   22   23   24   25
0      NaN  NaN  2.0  1.0  1.0  NaN  NaN  NaN       NaN  NaN  2.0  1.0  1.0
1      NaN  2.0  NaN  4.0  3.0  2.0  2.0  0.0       NaN  2.0  0.0  NaN  NaN
2      0.0  1.0  2.0  1.0  NaN  0.0  NaN  NaN       NaN  NaN  0.0  NaN  NaN
3      1.0  1.0  4.0  2.0  3.0  2.0  NaN  NaN       NaN  1.0  2.0  0.0  0.0
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
..     ...  ...  ...  ...  ...  ...  ...  ...       ...  ...  ...  ...  ...
58     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
59     1.0  2.0  3.0  1.0  1.0  3.0  NaN  NaN       NaN  NaN  3.0  3.0  3.0
60     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN
61     NaN  NaN  NaN  0.0  5.0  6.0  6.0  6.0       6.0  6.0  5.0  5.0  6.0
62     NaN  0.0  4.0  4.0  2.0  NaN  4.0  NaN       NaN  NaN  NaN  2.0  NaN

                  Mandíbula                                                    \
                   Derecho                                     Izquierdo
     26   27   28        48   47   46   45   44   43   42   41        31   32
0   2.0  1.0  0.0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  2.0
1   5.0  2.0  2.0       NaN  2.0  0.0  NaN  NaN  NaN  NaN  NaN       NaN  NaN
2   NaN  NaN  NaN         0  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN  NaN
3   2.0  1.0  1.0         1  1.0  4.0  2.0  3.0  2.0  2.0  3.0       3.0  2.0
4   0.0  NaN  NaN       NaN  NaN  NaN  NaN  3.0  NaN  NaN  NaN       NaN  NaN
..  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
58  3.0  NaN  0.0       NaN  NaN  NaN  NaN  5.0  5.0  NaN  NaN       NaN  NaN
59  3.0  1.0  0.0         0  0.0  3.0  1.0  2.0  3.0  NaN  4.0       4.0  4.0
60  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  6.0  NaN  NaN       NaN  NaN
61  NaN  NaN  NaN         3  NaN  8.0  8.0  6.0  5.0  5.0  5.0       5.0  5.0
62  NaN  4.0  NaN       NaN  NaN  4.0  3.0  2.0  4.0  3.0  4.0       NaN  NaN



     33   34   35   36   37   38
0   NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  2.0  1.0  NaN
2   NaN  NaN  NaN  NaN  NaN  1.0
3   3.0  1.0  1.0  2.0  1.0  1.0
4   NaN  1.0  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...
58  5.0  3.0  5.0  NaN  NaN  NaN
59  3.0  2.0  3.0  3.0  2.0  1.0
60  NaN  NaN  NaN  NaN  NaN  NaN
61  4.0  5.0  5.0  8.0  4.0  NaN
62  4.0  2.0  2.0  4.0  NaN  NaN

[63 rows x 32 columns]

In [35]:
# Seleccion de solo molares


max_der_num=range(17,15,-1)
# ubicacion dientes maxilar derecho
# I need to give the first column to have a template, after it the join works 

max_izq_num=range(26,29,1)
#ubicacion dientes maxilar izquierdo

mand_der_num=range(48,45,-1)
## ubicacion dientes mandibular derecho

mand_izq_num=range(36,39,1)
## ubicacion dientes mandibular izquierdo

teeth_num=[max_der_num,max_izq_num, mand_der_num,mand_izq_num]
# four elements each a range given the location of some teeth

In [36]:
up_down=['Maxilar','Mandíbula']

side_maxilar=['Derecho','Izquierdo']

side_mandibular=['Derecho ','Izquierdo']

In [11]:
#this is the way to make a table just with one of the characteristics of the teeth


df_g= df_calculo.xs(('Maxilar','Derecho',18), axis=1, level=[0,1,2])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_g=df_g.join(df_calculo.xs((place,side,num), axis=1, level=[0,1,2]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_g=df_g.join(df_calculo.xs((place,side,num), axis=1, level=[0,1,2]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_g=df_g.join(df_calculo.xs((place,side,num), axis=1, level=[0,1,2]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_g=df_g.join(df_calculo.xs((place,side,num), axis=1, level=[0,1,2]))

In [12]:
df_g

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
0      NaN  NaN  2.0       2.0  1.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  2.0  NaN       5.0  2.0  2.0       NaN  2.0  0.0       2.0  1.0
2      0.0  1.0  2.0       NaN  NaN  NaN         0  NaN  NaN       NaN  NaN
3      1.0  1.0  4.0       2.0  1.0  1.0         1  1.0  4.0       2.0  1.0
4      NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       3.0  NaN  0.0       NaN  NaN  NaN       NaN  NaN
59     1.0  2.0  3.0       3.0  1.0  0.0         0  0.0  3.0       3.0  2.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN         3  NaN  8.0       8.0  4.0
62     NaN  0.0  4.0       NaN  4.0  NaN       NaN  NaN  4.0       4.0  NaN



     38
0   NaN
1   NaN
2   1.0
3   1.0
4   NaN
..  ...
58  NaN
59  1.0
60  NaN
61  NaN
62  NaN

[63 rows x 12 columns]

In [13]:
#this is the way to make a table just with one of the characteristics of the teeth


df_gt= df_calculo.xs(('Maxilar','Derecho',18), axis=1, level=[0,1,2])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_gt=df_gt.join(df_calculo.xs((place,side,num), axis=1, level=[0,1,2]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_gt=df_gt.join(df_calculo.xs((place,side,num), axis=1, level=[0,1,2]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_gt=df_gt.join(df_calculo.xs((place,side,num), axis=1, level=[0,1,2]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_gt=df_gt.join(df_calculo.xs((place,side,num), axis=1, level=[0,1,2]))

In [14]:
#table for trial or process

df_dst=df_gt

In [15]:
#selection of all the teeth

df_ds=df_g

In [16]:
df_ds

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
0      NaN  NaN  2.0       2.0  1.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  2.0  NaN       5.0  2.0  2.0       NaN  2.0  0.0       2.0  1.0
2      0.0  1.0  2.0       NaN  NaN  NaN         0  NaN  NaN       NaN  NaN
3      1.0  1.0  4.0       2.0  1.0  1.0         1  1.0  4.0       2.0  1.0
4      NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       3.0  NaN  0.0       NaN  NaN  NaN       NaN  NaN
59     1.0  2.0  3.0       3.0  1.0  0.0         0  0.0  3.0       3.0  2.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN         3  NaN  8.0       8.0  4.0
62     NaN  0.0  4.0       NaN  4.0  NaN       NaN  NaN  4.0       4.0  NaN



     38
0   NaN
1   NaN
2   1.0
3   1.0
4   NaN
..  ...
58  NaN
59  1.0
60  NaN
61  NaN
62  NaN

[63 rows x 12 columns]

In [24]:
#In this way I can make a list of grade 0 desgaste de Smith para los individuos
ds_G_0=[]
i=0

while i<=62:
    ds_G_0.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=0.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_0']=ds_G_0


#In this way I can make a list of grade 1 desgaste de Smith para los individuos
ds_G_1=[]
i=0

while i<=62:
    ds_G_1.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=1.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_1']=ds_G_1

#In this way I can make a list of grade 2 desgaste de Smith para los individuos
ds_G_2=[]
i=0

while i<=62:
    ds_G_2.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=2.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_2']=ds_G_2

#In this way I can make a list of grade 3 desgaste de Smith para los individuos
ds_G_3=[]
i=0

while i<=62:
    ds_G_3.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=3.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_3']=ds_G_3

#In this way I can make a list of grade 4 desgaste de Smith para los individuos
ds_G_4=[]
i=0

while i<=62:
    ds_G_4.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=4.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_4']=ds_G_4

#In this way I can make a list of grade 5 desgaste de Smith para los individuos
ds_G_5=[]
i=0

while i<=62:
    ds_G_5.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=5.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_5']=ds_G_5

#In this way I can make a list of grade 6 desgaste de Smith para los individuos
ds_G_6=[]
i=0

while i<=62:
    ds_G_6.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=6.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_6']=ds_G_6

#In this way I can make a list of grade 7 desgaste de Smith para los individuos
ds_G_7=[]
i=0

while i<=62:
    ds_G_7.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=7.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_7']=ds_G_7

#In this way I can make a list of grade 8 desgaste de Smith para los individuos
ds_G_8=[]
i=0

while i<=62:
    ds_G_8.append(df_dst.iloc[i].apply(lambda x: np.nan if x!=8.0 else 1.0).count())
    i=i+1
    
    
df_ds['ds_G_8']=ds_G_8

In [26]:
df_ds

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
0      NaN  NaN  2.0       2.0  1.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  2.0  NaN       5.0  2.0  2.0       NaN  2.0  0.0       2.0  1.0
2      0.0  1.0  2.0       NaN  NaN  NaN         0  NaN  NaN       NaN  NaN
3      1.0  1.0  4.0       2.0  1.0  1.0         1  1.0  4.0       2.0  1.0
4      NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       3.0  NaN  0.0       NaN  NaN  NaN       NaN  NaN
59     1.0  2.0  3.0       3.0  1.0  0.0         0  0.0  3.0       3.0  2.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN         3  NaN  8.0       8.0  4.0
62     NaN  0.0  4.0       NaN  4.0  NaN       NaN  NaN  4.0       4.0  NaN

        ds_G_0 ds_G_1 ds_G_2 ds_G_3 ds_G_4 ds_G_5 ds_G_6 ds_G_7 ds_G_8

     38
0   NaN      1      1      2      0      0      0      0      0      0
1   NaN      1      1      5      0      0      1      0      0      0
2   1.0      2      2      1      0      0      0      0      0      0
3   1.0      0      8      2      0      2      0      0      0      0
4   NaN      1      0      0      0      0      0      0      0      0
..  ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
58  NaN      1      0      0      1      0      0      0      0      0
59  1.0      3      3      2      4      0      0      0      0      0
60  NaN      0      0      0      0      0      0      0      0      0
61  NaN      0      0      0      1      1      0      0      0      2
62  NaN      1      0      0      0      4      0      0      0      0

[63 rows x 21 columns]

In [78]:
df_dst

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
0      NaN  NaN  2.0       2.0  1.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  2.0  NaN       5.0  2.0  2.0       NaN  2.0  0.0       2.0  1.0
2      0.0  1.0  2.0       NaN  NaN  NaN         0  NaN  NaN       NaN  NaN
3      1.0  1.0  4.0       2.0  1.0  1.0         1  1.0  4.0       2.0  1.0
4      NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       3.0  NaN  0.0       NaN  NaN  NaN       NaN  NaN
59     1.0  2.0  3.0       3.0  1.0  0.0         0  0.0  3.0       3.0  2.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN         3  NaN  8.0       8.0  4.0
62     NaN  0.0  4.0       NaN  4.0  NaN       NaN  NaN  4.0       4.0  NaN



     38
0   NaN
1   NaN
2   1.0
3   1.0
4   NaN
..  ...
58  NaN
59  1.0
60  NaN
61  NaN
62  NaN

[63 rows x 12 columns]

In [30]:
# numero total de dientes con desgaste de Smith


ds_total=[]
i=0

while i<=62:
    ds_total.append(df_ds.iloc[i,12:].sum())
    i=i+1
    

df_ds['total_#_ds']=ds_total

In [31]:
df_ds

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
0      NaN  NaN  2.0       2.0  1.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  2.0  NaN       5.0  2.0  2.0       NaN  2.0  0.0       2.0  1.0
2      0.0  1.0  2.0       NaN  NaN  NaN         0  NaN  NaN       NaN  NaN
3      1.0  1.0  4.0       2.0  1.0  1.0         1  1.0  4.0       2.0  1.0
4      NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       3.0  NaN  0.0       NaN  NaN  NaN       NaN  NaN
59     1.0  2.0  3.0       3.0  1.0  0.0         0  0.0  3.0       3.0  2.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN         3  NaN  8.0       8.0  4.0
62     NaN  0.0  4.0       NaN  4.0  NaN       NaN  NaN  4.0       4.0  NaN

        ds_G_0 ds_G_1 ds_G_2 ds_G_3 ds_G_4 ds_G_5 ds_G_6 ds_G_7 ds_G_8  \

     38
0   NaN      1      1      2      0      0      0      0      0      0
1   NaN      1      1      5      0      0      1      0      0      0
2   1.0      2      2      1      0      0      0      0      0      0
3   1.0      0      8      2      0      2      0      0      0      0
4   NaN      1      0      0      0      0      0      0      0      0
..  ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
58  NaN      1      0      0      1      0      0      0      0      0
59  1.0      3      3      2      4      0      0      0      0      0
60  NaN      0      0      0      0      0      0      0      0      0
61  NaN      0      0      0      1      1      0      0      0      2
62  NaN      1      0      0      0      4      0      0      0      0

   total_#_ds


0           4
1           8
2           5
3          12
4           1
..        ...
58          2
59         12
60          0
61          4
62          5

[63 rows x 22 columns]

In [32]:
df_ds.to_csv('//home/jorgemsr123/Desktop/Pavita/tabla_molares_smith')

In [33]:
# read desgaste Molnar spreed sheet

df_desgaste_molnar=pd.read_excel('//home/jorgemsr123/Desktop/Pavita/Viviana_Datos_Tesis.xlsx',header=[0,1,2,3], sheet_name='DESGASTE MOLNAR')

In [34]:
df_desgaste_molnar.head(2)

               Sitio              Corte              Rasgo            Periodo  \
  Unnamed: 0_level_1 Unnamed: 1_level_1 Unnamed: 2_level_1 Unnamed: 3_level_1
  Unnamed: 0_level_2 Unnamed: 1_level_2 Unnamed: 2_level_2 Unnamed: 3_level_2
  Unnamed: 0_level_3 Unnamed: 1_level_3 Unnamed: 2_level_3 Unnamed: 3_level_3
0   01 Palma Plana                  NaN    Rasgo L-20 (II)                4.1
1     02 Palma Torre                NaN        B-5 Tumba 2                4.2

                Sexo               Edad         N° dientes                     \
  Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1 Unnamed: 7_level_1
  Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2 Unnamed: 7_level_2
  Unnamed: 4_level_3 Unnamed: 5_level_3            Maxilar          Mandíbula
0                  M              24-30                  9                  1
1                  F              20-24                 11                  4

  Maxilar                                                                      \
  Derecho
       18           17             16             15             14
        G   D   F    G    D    F    G    D    F    G    D    F    G    D    F
0     NaN NaN NaN  NaN  NaN  NaN  3.0  2.0  4.0  2.0  3.0  5.0  2.0  2.0  5.0
1     NaN NaN NaN  3.0  1.0  1.0  NaN  NaN  NaN  4.0  2.0  1.0  3.0  2.0  1.0

                                                                           \
                                         Izquierdo
   13          12           11                  21           22
    G   D   F   G   D   F    G    D    F         G   D   F    G    D    F
0 NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN       NaN NaN NaN  NaN  NaN  NaN
1 NaN NaN NaN NaN NaN NaN  1.0  0.0  0.0       NaN NaN NaN  3.0  1.0  1.0

                                                                              \

    23             24             25             26             27
     G    D    F    G    D    F    G    D    F    G    D    F    G    D    F
0  2.0  2.0  1.0  2.0  5.0  5.0  2.0  5.0  5.0  3.0  2.0  4.0  2.0  2.0  2.0
1  9.0  9.0  9.0  2.0  1.0  1.0  2.0  1.0  1.0  4.0  2.0  2.0  3.0  2.0  6.0

                 Mandíbula                                                    \
                  Derecho
    28                  48           47             46            45
     G    D    F         G   D   F    G    D    F    G    D    F   G   D   F
0  1.0  0.0  0.0       NaN NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN
1  3.0  2.0  2.0       NaN NaN NaN  2.0  4.0  3.0  9.0  9.0  9.0 NaN NaN NaN

                                                                               \
                                                  Izquierdo
   44          43          42          41                31           32
    G   D   F   G   D   F   G   D   F   G   D   F         G   D   F    G    D
0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN       NaN NaN NaN  2.0  2.0
1 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN       NaN NaN NaN  NaN  NaN

                                                                              \

        33          34          35           36             37            38
     F   G   D   F   G   D   F   G   D   F    G    D    F    G    D    F   G
0  2.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN
1  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  2.0  2.0  6.0  2.0  2.0  5.0 NaN




    D   F
0 NaN NaN
1 NaN NaN

In [37]:
#this is the way to make a table just with one of the characteristics of the teeth desgaste molnar grado


df_dmg= df_desgaste_molnar.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_dmg=df_dmg.join(df_desgaste_molnar.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_dmg=df_dmg.join(df_desgaste_molnar.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_dmg=df_dmg.join(df_desgaste_molnar.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_dmg=df_dmg.join(df_desgaste_molnar.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))

In [39]:
#trial
#this is the way to make a table just with one of the characteristics of the teeth desgaste molnar grado


df_dmgt= df_desgaste_molnar.xs(('Maxilar','Derecho',18, 'G'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_dmgt=df_dmgt.join(df_desgaste_molnar.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_dmgt=df_dmgt.join(df_desgaste_molnar.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_dmgt=df_dmgt.join(df_desgaste_molnar.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_dmgt=df_dmgt.join(df_desgaste_molnar.xs((place,side,num, 'G'), axis=1, level=[0,1,2,3]))

In [40]:
df_dmgt

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         G    G    G         G    G    G         G    G    G         G    G
0      NaN  NaN  3.0       3.0  2.0  1.0       NaN  NaN  NaN       NaN  NaN
1      NaN  3.0  NaN       4.0  3.0  3.0       NaN  2.0  9.0       2.0  2.0
2      1.0  2.0  3.0       NaN  NaN  NaN       1.0  NaN  NaN       NaN  NaN
3      2.0  2.0  5.0       3.0  2.0  2.0       2.0  9.0  5.0       3.0  2.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       3.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     2.0  2.0  3.0       3.0  2.0  1.0       9.0  9.0  3.0       3.0  2.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       4.0  NaN  8.0       8.0  4.0
62     NaN  9.0  4.0       NaN  4.0  NaN       NaN  NaN  4.0       4.0  NaN



     38
      G
0   NaN
1   NaN
2   2.0
3   2.0
4   NaN
..  ...
58  NaN
59  2.0
60  NaN
61  NaN
62  NaN

[63 rows x 12 columns]

In [41]:
#In this way I can make a list of numero de cada desgaste de molnar 1 para los individuos

mol_G_1=[]
i=0

while i<=62:
    mol_G_1.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=1.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_1']=mol_G_1



mol_G_2=[]
i=0

while i<=62:
    mol_G_2.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=2.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_2']=mol_G_2



mol_G_3=[]
i=0

while i<=62:
    mol_G_3.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=3.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_3']=mol_G_3



mol_G_4=[]
i=0

while i<=62:
    mol_G_4.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=4.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_4']=mol_G_4




mol_G_5=[]
i=0

while i<=62:
    mol_G_5.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=5.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_5']=mol_G_5




mol_G_6=[]
i=0

while i<=62:
    mol_G_6.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=6.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_6']=mol_G_6




mol_G_7=[]
i=0

while i<=62:
    mol_G_7.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=7.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_7']=mol_G_7



mol_G_8=[]
i=0

while i<=62:
    mol_G_8.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=8.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_8']=mol_G_8



mol_G_9=[]
i=0

while i<=62:
    mol_G_9.append(df_dmgt.iloc[i].apply(lambda x: np.nan if x!=9.0 else 1.0).count())
    i=i+1
    
    
df_dmg['mol_G_9']=mol_G_9

In [44]:
df_dmg

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         G    G    G         G    G    G         G    G    G         G    G
0      NaN  NaN  3.0       3.0  2.0  1.0       NaN  NaN  NaN       NaN  NaN
1      NaN  3.0  NaN       4.0  3.0  3.0       NaN  2.0  9.0       2.0  2.0
2      1.0  2.0  3.0       NaN  NaN  NaN       1.0  NaN  NaN       NaN  NaN
3      2.0  2.0  5.0       3.0  2.0  2.0       2.0  9.0  5.0       3.0  2.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       3.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     2.0  2.0  3.0       3.0  2.0  1.0       9.0  9.0  3.0       3.0  2.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       4.0  NaN  8.0       8.0  4.0
62     NaN  9.0  4.0       NaN  4.0  NaN       NaN  NaN  4.0       4.0  NaN

        mol_G_1 mol_G_2 mol_G_3 mol_G_4 mol_G_5 mol_G_6 mol_G_7 mol_G_8  \

     38
      G
0   NaN       1       1       2       0       0       0       0       0
1   NaN       0       3       3       1       0       0       0       0
2   2.0       2       2       1       0       0       0       0       0
3   2.0       0       7       2       0       2       0       0       0
4   NaN       0       0       0       0       0       0       0       0
..  ...     ...     ...     ...     ...     ...     ...     ...     ...
58  NaN       0       0       1       0       0       0       0       0
59  2.0       1       5       4       0       0       0       0       0
60  NaN       0       0       0       0       0       0       0       0
61  NaN       0       0       0       2       0       0       0       2
62  NaN       0       0       0       4       0       0       0       0

   mol_G_9



0        0
1        1
2        0
3        1
4        1
..     ...
58       1
59       2
60       0
61       0
62       1

[63 rows x 21 columns]

In [46]:
# numero total de dientes con desgaste de Molnar


ds_total=[]
i=0

while i<=62:
    ds_total.append(df_dmg.iloc[i,12:].sum())
    i=i+1
    

df_dmg['total_#_ds']=ds_total

In [48]:
df_dmg

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         G    G    G         G    G    G         G    G    G         G    G
0      NaN  NaN  3.0       3.0  2.0  1.0       NaN  NaN  NaN       NaN  NaN
1      NaN  3.0  NaN       4.0  3.0  3.0       NaN  2.0  9.0       2.0  2.0
2      1.0  2.0  3.0       NaN  NaN  NaN       1.0  NaN  NaN       NaN  NaN
3      2.0  2.0  5.0       3.0  2.0  2.0       2.0  9.0  5.0       3.0  2.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       3.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     2.0  2.0  3.0       3.0  2.0  1.0       9.0  9.0  3.0       3.0  2.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       4.0  NaN  8.0       8.0  4.0
62     NaN  9.0  4.0       NaN  4.0  NaN       NaN  NaN  4.0       4.0  NaN

        mol_G_1 mol_G_2 mol_G_3 mol_G_4 mol_G_5 mol_G_6 mol_G_7 mol_G_8  \

     38
      G
0   NaN       1       1       2       0       0       0       0       0
1   NaN       0       3       3       1       0       0       0       0
2   2.0       2       2       1       0       0       0       0       0
3   2.0       0       7       2       0       2       0       0       0
4   NaN       0       0       0       0       0       0       0       0
..  ...     ...     ...     ...     ...     ...     ...     ...     ...
58  NaN       0       0       1       0       0       0       0       0
59  2.0       1       5       4       0       0       0       0       0
60  NaN       0       0       0       0       0       0       0       0
61  NaN       0       0       0       2       0       0       0       2
62  NaN       0       0       0       4       0       0       0       0

   mol_G_9 total_#_ds



0        0        4.0
1        1        8.0
2        0        5.0
3        1       12.0
4        1        1.0
..     ...        ...
58       1        2.0
59       2       12.0
60       0        0.0
61       0        4.0
62       1        5.0

[63 rows x 22 columns]

In [49]:
df_dmg.to_csv('//home/jorgemsr123/Desktop/Pavita/tabla_molares_molnar_grado')

In [50]:
#this is the way to make a table just with one of the characteristics of the teeth desgaste molnar direccion


df_dmd= df_desgaste_molnar.xs(('Maxilar','Derecho',18, 'D'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_dmd=df_dmd.join(df_desgaste_molnar.xs((place,side,num, 'D'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_dmd=df_dmd.join(df_desgaste_molnar.xs((place,side,num, 'D'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_dmd=df_dmd.join(df_desgaste_molnar.xs((place,side,num, 'D'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_dmd=df_dmd.join(df_desgaste_molnar.xs((place,side,num, 'D'), axis=1, level=[0,1,2,3]))

In [51]:
#trial
#this is the way to make a table just with one of the characteristics of the teeth desgaste molnar direccion


df_dmdt= df_desgaste_molnar.xs(('Maxilar','Derecho',18, 'D'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_dmdt=df_dmdt.join(df_desgaste_molnar.xs((place,side,num, 'D'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_dmdt=df_dmdt.join(df_desgaste_molnar.xs((place,side,num, 'D'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_dmdt=df_dmdt.join(df_desgaste_molnar.xs((place,side,num, 'D'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_dmdt=df_dmdt.join(df_desgaste_molnar.xs((place,side,num, 'D'), axis=1, level=[0,1,2,3]))

In [52]:
df_dmdt

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         D    D    D         D    D    D         D    D    D         D    D
0      NaN  NaN  2.0       2.0  2.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  1.0  NaN       2.0  2.0  2.0       NaN  4.0  9.0       2.0  2.0
2      0.0  6.0  1.0       NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN
3      1.0  3.0  2.0       3.0  3.0  1.0       1.0  9.0  2.0       2.0  5.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       7.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     1.0  7.0  7.0       2.0  2.0  0.0       9.0  9.0  3.0       3.0  3.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       4.0  NaN  9.0       9.0  3.0
62     NaN  9.0  2.0       NaN  2.0  NaN       NaN  NaN  4.0       3.0  NaN



     38
      D
0   NaN
1   NaN
2   1.0
3   1.0
4   NaN
..  ...
58  NaN
59  1.0
60  NaN
61  NaN
62  NaN

[63 rows x 12 columns]

In [53]:
#In this way I can make a list of numero de cada direccion desgaste de molnar 1 para los individuos

mol_D_0=[]
i=0

while i<=62:
    mol_D_0.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=0.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_0']=mol_D_0


mol_D_1=[]
i=0

while i<=62:
    mol_D_1.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=1.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_1']=mol_D_1



mol_D_2=[]
i=0

while i<=62:
    mol_D_2.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=2.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_2']=mol_D_2



mol_D_3=[]
i=0

while i<=62:
    mol_D_3.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=3.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_3']=mol_D_3



mol_D_4=[]
i=0

while i<=62:
    mol_D_4.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=4.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_4']=mol_D_4




mol_D_5=[]
i=0

while i<=62:
    mol_D_5.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=5.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_5']=mol_D_5




mol_D_6=[]
i=0

while i<=62:
    mol_D_6.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=6.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_6']=mol_D_6




mol_D_7=[]
i=0

while i<=62:
    mol_D_7.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=7.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_7']=mol_D_7



mol_D_8=[]
i=0

while i<=62:
    mol_D_8.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=8.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_8']=mol_D_8



mol_D_9=[]
i=0

while i<=62:
    mol_D_9.append(df_dmdt.iloc[i].apply(lambda x: np.nan if x!=9.0 else 1.0).count())
    i=i+1
    
    
df_dmd['mol_D_9']=mol_D_9

In [54]:
df_dmd

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         D    D    D         D    D    D         D    D    D         D    D
0      NaN  NaN  2.0       2.0  2.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  1.0  NaN       2.0  2.0  2.0       NaN  4.0  9.0       2.0  2.0
2      0.0  6.0  1.0       NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN
3      1.0  3.0  2.0       3.0  3.0  1.0       1.0  9.0  2.0       2.0  5.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       7.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     1.0  7.0  7.0       2.0  2.0  0.0       9.0  9.0  3.0       3.0  3.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       4.0  NaN  9.0       9.0  3.0
62     NaN  9.0  2.0       NaN  2.0  NaN       NaN  NaN  4.0       3.0  NaN

        mol_D_0 mol_D_1 mol_D_2 mol_D_3 mol_D_4 mol_D_5 mol_D_6 mol_D_7  \

     38
      D
0   NaN       1       0       3       0       0       0       0       0
1   NaN       0       1       5       0       1       0       0       0
2   1.0       2       2       0       0       0       0       1       0
3   1.0       0       4       3       3       0       1       0       0
4   NaN       0       0       0       0       0       0       0       0
..  ...     ...     ...     ...     ...     ...     ...     ...     ...
58  NaN       0       0       0       0       0       0       0       1
59  1.0       1       2       2       3       0       0       0       2
60  NaN       0       0       0       0       0       0       0       0
61  NaN       0       0       0       1       1       0       0       0
62  NaN       0       0       2       1       1       0       0       0

   mol_D_8 mol_D_9



0        0       0
1        0       1
2        0       0
3        0       1
4        0       1
..     ...     ...
58       0       1
59       0       2
60       0       0
61       0       2
62       0       1

[63 rows x 22 columns]

In [55]:
# numero total de dientes con desgaste de Molnar por direccion


ds_total=[]
i=0

while i<=62:
    ds_total.append(df_dmd.iloc[i,12:].sum())
    i=i+1
    

df_dmd['total_#_ds']=ds_total

In [56]:
df_dmd

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         D    D    D         D    D    D         D    D    D         D    D
0      NaN  NaN  2.0       2.0  2.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  1.0  NaN       2.0  2.0  2.0       NaN  4.0  9.0       2.0  2.0
2      0.0  6.0  1.0       NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN
3      1.0  3.0  2.0       3.0  3.0  1.0       1.0  9.0  2.0       2.0  5.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       7.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     1.0  7.0  7.0       2.0  2.0  0.0       9.0  9.0  3.0       3.0  3.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       4.0  NaN  9.0       9.0  3.0
62     NaN  9.0  2.0       NaN  2.0  NaN       NaN  NaN  4.0       3.0  NaN

        mol_D_0 mol_D_1 mol_D_2 mol_D_3 mol_D_4 mol_D_5 mol_D_6 mol_D_7  \

     38
      D
0   NaN       1       0       3       0       0       0       0       0
1   NaN       0       1       5       0       1       0       0       0
2   1.0       2       2       0       0       0       0       1       0
3   1.0       0       4       3       3       0       1       0       0
4   NaN       0       0       0       0       0       0       0       0
..  ...     ...     ...     ...     ...     ...     ...     ...     ...
58  NaN       0       0       0       0       0       0       0       1
59  1.0       1       2       2       3       0       0       0       2
60  NaN       0       0       0       0       0       0       0       0
61  NaN       0       0       0       1       1       0       0       0
62  NaN       0       0       2       1       1       0       0       0

   mol_D_8 mol_D_9 total_#_ds



0        0       0        4.0
1        0       1        8.0
2        0       0        5.0
3        0       1       12.0
4        0       1        1.0
..     ...     ...        ...
58       0       1        2.0
59       0       2       12.0
60       0       0        0.0
61       0       2        4.0
62       0       1        5.0

[63 rows x 23 columns]

In [57]:
df_dmd.to_csv('//home/jorgemsr123/Desktop/Pavita/tabla_molares_molnar_direccion')

In [58]:
#this is the way to make a table just with one of the characteristics of the teeth desgaste molnar forma


df_dmf= df_desgaste_molnar.xs(('Maxilar','Derecho',18, 'F'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_dmf=df_dmf.join(df_desgaste_molnar.xs((place,side,num, 'F'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_dmf=df_dmf.join(df_desgaste_molnar.xs((place,side,num, 'F'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_dmf=df_dmf.join(df_desgaste_molnar.xs((place,side,num, 'F'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_dmf=df_dmf.join(df_desgaste_molnar.xs((place,side,num, 'F'), axis=1, level=[0,1,2,3]))

In [59]:
#trial
#this is the way to make a table just with one of the characteristics of the teeth desgaste molnar forma


df_dmft= df_desgaste_molnar.xs(('Maxilar','Derecho',18, 'F'), axis=1, level=[0,1,2,3])

for place in up_down:
    if place=='Maxilar':
        for side in side_maxilar:
            if side =='Derecho':
                for num in max_der_num:
                    df_dmft=df_dmft.join(df_desgaste_molnar.xs((place,side,num, 'F'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in max_izq_num:
                    df_dmft=df_dmft.join(df_desgaste_molnar.xs((place,side,num, 'F'), axis=1, level=[0,1,2,3]))
    elif place=='Mandíbula':
        for side in side_mandibular:
            if side =='Derecho ':
                for num in mand_der_num:
                    df_dmft=df_dmft.join(df_desgaste_molnar.xs((place,side,num, 'F'), axis=1, level=[0,1,2,3]))
            elif side == 'Izquierdo':
                for num in mand_izq_num:
                    df_dmft=df_dmft.join(df_desgaste_molnar.xs((place,side,num, 'F'), axis=1, level=[0,1,2,3]))

In [60]:
df_dmft

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         F    F    F         F    F    F         F    F    F         F    F
0      NaN  NaN  4.0       4.0  2.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  1.0  NaN       2.0  6.0  2.0       NaN  3.0  9.0       6.0  5.0
2      0.0  5.0  1.0       NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN
3      1.0  3.0  2.0       3.0  3.0  2.0       1.0  9.0  2.0       2.0  5.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       6.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     1.0  6.0  6.0       2.0  5.0  0.0       9.0  9.0  6.0       6.0  6.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       5.0  NaN  9.0       9.0  5.0
62     NaN  9.0  2.0       NaN  5.0  NaN       NaN  NaN  5.0       5.0  NaN



     38
      F
0   NaN
1   NaN
2   1.0
3   2.0
4   NaN
..  ...
58  NaN
59  1.0
60  NaN
61  NaN
62  NaN

[63 rows x 12 columns]

In [61]:
#In this way I can make a list of numero de cada forma desgaste de molnar 1 para los individuos

mol_F_0=[]
i=0

while i<=62:
    mol_F_0.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=0.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_0']=mol_F_0


mol_F_1=[]
i=0

while i<=62:
    mol_F_1.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=1.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_1']=mol_F_1



mol_F_2=[]
i=0

while i<=62:
    mol_F_2.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=2.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_2']=mol_F_2



mol_F_3=[]
i=0

while i<=62:
    mol_F_3.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=3.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_3']=mol_F_3



mol_F_4=[]
i=0

while i<=62:
    mol_F_4.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=4.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_4']=mol_F_4




mol_F_5=[]
i=0

while i<=62:
    mol_F_5.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=5.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_5']=mol_F_5




mol_F_6=[]
i=0

while i<=62:
    mol_F_6.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=6.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_6']=mol_F_6




mol_F_7=[]
i=0

while i<=62:
    mol_F_7.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=7.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_7']=mol_F_7



mol_F_8=[]
i=0

while i<=62:
    mol_F_8.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=8.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_8']=mol_F_8



mol_F_9=[]
i=0

while i<=62:
    mol_F_9.append(df_dmft.iloc[i].apply(lambda x: np.nan if x!=9.0 else 1.0).count())
    i=i+1
    
    
df_dmf['mol_F_9']=mol_F_9

In [64]:
df_dmf

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         F    F    F         F    F    F         F    F    F         F    F
0      NaN  NaN  4.0       4.0  2.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  1.0  NaN       2.0  6.0  2.0       NaN  3.0  9.0       6.0  5.0
2      0.0  5.0  1.0       NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN
3      1.0  3.0  2.0       3.0  3.0  2.0       1.0  9.0  2.0       2.0  5.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       6.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     1.0  6.0  6.0       2.0  5.0  0.0       9.0  9.0  6.0       6.0  6.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       5.0  NaN  9.0       9.0  5.0
62     NaN  9.0  2.0       NaN  5.0  NaN       NaN  NaN  5.0       5.0  NaN

        mol_F_0 mol_F_1 mol_F_2 mol_F_3 mol_F_4 mol_F_5 mol_F_6 mol_F_7  \

     38
      F
0   NaN       1       0       1       0       2       0       0       0
1   NaN       0       1       2       1       0       1       2       0
2   1.0       2       2       0       0       0       1       0       0
3   2.0       0       2       5       3       0       1       0       0
4   NaN       0       0       0       0       0       0       0       0
..  ...     ...     ...     ...     ...     ...     ...     ...     ...
58  NaN       0       0       0       0       0       0       1       0
59  1.0       1       2       1       0       0       1       5       0
60  NaN       0       0       0       0       0       0       0       0
61  NaN       0       0       0       0       0       2       0       0
62  NaN       0       0       1       0       0       3       0       0

   mol_F_8 mol_F_9



0        0       0
1        0       1
2        0       0
3        0       1
4        0       1
..     ...     ...
58       0       1
59       0       2
60       0       0
61       0       2
62       0       1

[63 rows x 22 columns]

In [65]:
# numero total de dientes con desgaste de Molnar por forma


ds_total=[]
i=0

while i<=62:
    ds_total.append(df_dmf.iloc[i,12:].sum())
    i=i+1
    

df_dmf['total_#_ds']=ds_total

In [66]:
df_dmf

   Maxilar                               Mandíbula                           \
   Derecho           Izquierdo            Derecho            Izquierdo
        18   17   16        26   27   28        48   47   46        36   37
         F    F    F         F    F    F         F    F    F         F    F
0      NaN  NaN  4.0       4.0  2.0  0.0       NaN  NaN  NaN       NaN  NaN
1      NaN  1.0  NaN       2.0  6.0  2.0       NaN  3.0  9.0       6.0  5.0
2      0.0  5.0  1.0       NaN  NaN  NaN       0.0  NaN  NaN       NaN  NaN
3      1.0  3.0  2.0       3.0  3.0  2.0       1.0  9.0  2.0       2.0  5.0
4      NaN  NaN  NaN       9.0  NaN  NaN       NaN  NaN  NaN       NaN  NaN
..     ...  ...  ...       ...  ...  ...       ...  ...  ...       ...  ...
58     NaN  NaN  NaN       6.0  NaN  9.0       NaN  NaN  NaN       NaN  NaN
59     1.0  6.0  6.0       2.0  5.0  0.0       9.0  9.0  6.0       6.0  6.0
60     NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN  NaN       NaN  NaN
61     NaN  NaN  NaN       NaN  NaN  NaN       5.0  NaN  9.0       9.0  5.0
62     NaN  9.0  2.0       NaN  5.0  NaN       NaN  NaN  5.0       5.0  NaN

        mol_F_0 mol_F_1 mol_F_2 mol_F_3 mol_F_4 mol_F_5 mol_F_6 mol_F_7  \

     38
      F
0   NaN       1       0       1       0       2       0       0       0
1   NaN       0       1       2       1       0       1       2       0
2   1.0       2       2       0       0       0       1       0       0
3   2.0       0       2       5       3       0       1       0       0
4   NaN       0       0       0       0       0       0       0       0
..  ...     ...     ...     ...     ...     ...     ...     ...     ...
58  NaN       0       0       0       0       0       0       1       0
59  1.0       1       2       1       0       0       1       5       0
60  NaN       0       0       0       0       0       0       0       0
61  NaN       0       0       0       0       0       2       0       0
62  NaN       0       0       1       0       0       3       0       0

   mol_F_8 mol_F_9 total_#_ds



0        0       0        4.0
1        0       1        8.0
2        0       0        5.0
3        0       1       12.0
4        0       1        1.0
..     ...     ...        ...
58       0       1        2.0
59       0       2       12.0
60       0       0        0.0
61       0       2        4.0
62       0       1        5.0

[63 rows x 23 columns]

In [67]:
df_dmf.to_csv('//home/jorgemsr123/Desktop/Pavita/tabla_molares_molnar_forma')