In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
%matplotlib inline
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print(__version__) # requires version >= 1.9.0

4.5.4

In [2]:
import cufflinks as cf
init_notebook_mode(connected=True)
# For offline use
cf.go_offline()
from pandas_datareader import data, wb

import datetime

In [3]:
# show all columns 

pd.set_option('display.max_columns', None)

sns.set(style='whitegrid')

In [43]:
tables1=['a1','a2','a3','a4']

In [40]:
tables=pd.DataFrame(['a1','a2','a3','a4'])

In [36]:
d={}

In [45]:
for item in tables1:
    d[item]=pd.DataFrame()

In [48]:
d['a1']

Empty DataFrame
Columns: []
Index: []

In [10]:
c=pd.DataFrame()

In [41]:
tables

    0
0  a1
1  a2
2  a3
3  a4

In [44]:
tables1

['a1', 'a2', 'a3', 'a4']

In [49]:
RG={'aa1':'16-20','aa2':'20-35','aa3':'35-50','aa4':'>50'}

In [50]:
RG.keys()

dict_keys(['aa1', 'aa2', 'aa3', 'aa4'])

In [51]:
RG.values()

dict_values(['16-20', '20-35', '35-50', '>50'])

In [52]:
for item in RG.keys():
    d[item]=pd.DataFrame()

In [54]:
d['aa1']

Empty DataFrame
Columns: []
Index: []

In [70]:
list(RG.values())[1]

'20-35'